FORMAT: 1A
HOST: https://api.client.mallpay.cz/customer/v1

# New SC API
This is documentation of MALL Pay NEW Self-Care API

**Base prefix: /customer/v1**.


There are some rules that are valid throughout whole API.


## Naming conventions
- we use camelCase for all object and property names
- we use plural in resource names

## Paging
- some resources (stated in documentation) that return collection of objects support pagination.
- on request:
  - query parameter `limit` specifies maximum number of objects in returned collection
  - query parameter `after` specifies last object retrieved in previous request. Its value is usually `id` of last object retrieved in previous call, but this will be stated in documentation. Parameter `after` is used when traversing collection forwards.
  - query parameter `before` specifies first object retrieved in previous request (analogy to `after` parameter), and is used when traversing collection backwards.
  - if `before` and `after` are omitted, beginning of collection is returned, using specified sort order
  - items in collection are always sorted accoridng to attribute which could be passed in after/before parameters. Even if you specify different sorting order, this attribute will be last sorting criterion; if you do not specify sorting order, result collection will be sorted according to this attribute.
- on response:
  - `pagingInfo` object is returned as part of response body with following attributes:
    - _nextPage_ - request to retrieve next page. Either nextPage or previousPage is returned, depending whether you specify `after` or `before` parameter. If you specify neither `before` nor `after` parameter, these attributes will be omitted from response.
    - _prevPage_ - request to retrieve previous page (see `nextPage` attribute description above).
    - _itemsPerPage_ - number of items per page


Example request:
```
curl -X GET https://api.client.mallpay.cz/customer/v1/my/contracts?sort=category&limit=10&after=15
```

Example response pagingInfo:

```javascript
"pagingInfo": {
    "nextPage": "/my/contracts?sort=category&limit=10&after=25"
    "itemsPerPage": 10,
}
```

## Sorting
- some resources (stated in documentation) suppors result sorting. You can specify sorting attributes and order using `sort` request parameter. For ascending order, specify just attribute name; for descending order, add unary - in front of attribute name. You can specify multiple attributes for sorting, separated by comma.
- each resource that supports sorting specifies list of attributes that can be used for sorting.

Examples:
- `/public/fxrates?sort=currencyCode` - get list of FX rates sorted by attribute currencyCode
- `/public/branches?sort=-name` - get list of branches, sorted by attribute name in descending order
- `/banking/accounts?sort=accountType,-accountCurrency,accountName` - get list of accounts, sorted by type (ascending), then by currency descending and then by account name (ascending)


## Filtering
Some resources (stated in documentation) supports results filtering. Such resources have list of filters specified together with possible operations and possible values.

You can specify filtering by passing `filter` attribute. General pattern to specify filter is:

`<filterName>|<operator>|<values>`

- `filterName` - filter name from documentation
- `operator` - operator, specified in resource documentation
- `values` - one or more values for filter. Multiple values are separated by comma

Multiple filters can be specified on each request, separated by semi-colon. They are joined by "AND", so each result item must satisfy all conditions.

__Note__: Some resources (stated in documentation) support filtering by specified embedded child object attributes. Suppose you have the following object structure:
```
{
  "value": {
    "amount": 100,
    "currency": "CZK"
    },
  "someAttribute": "some_attribute_value"
}
```
Then filtering by `amount` can be specified in the filter name as `value.amount`, filtering by currency would be specified as `value.currency` etc. Please se examples below.

### Filtering examples

- get a list of partners with category in (1, 5, 10)
```
GET /general/partners?filter=category|in|1,5,10
```

- get a list of contracts with contractDate in greater than 2016-02-10 and lower or equal to 2016-04-28
```
GET /general/contracts?filter=contractDate|gt|2016-02-10;contractDate|lteq|2016-04-28
```

- get a list of transactions with amount greater then 100 (please see explanation above)
```
GET /general/transactions?filter=value.amount|gt|100
```

### List of operators
| operator | meaning |
| ---      | ---     |
| lt       | less than |
| lteq       | less than or equals |
| eq       | equals    |
| gteq       | greater than or equals    |
| gt       | greater than |
| in       | value in list |

## API calls limits
When limit is reached, you receive HTTP error 429. To inform you about limits we use following headers:
- `X-Rate-Limit-Limit` - The number of allowed requests in the current period
- `X-Rate-Limit-Remaining` - The number of remaining requests in the current period
- `X-Rate-Limit-Reset` - The number of seconds left in the current period

## Bandwith usage reducing

### Fields attribute
- for all GET resources, you can use optional `fields` query parameter to limit objects' attributes returned in response
- `fields` parameter contains comma-separated list of attributes, that will be present in response; if omitted, all objects' attributes will be returned
- you can specify only top-level attributes in `fields` parameter. This means that when response is an object, you can only specify top-level attributes. When response is an array of objects, only top-level attributes of those objects can be specified.
- if you specify non-existent attribute or atttribute that is not in first level, you will receive HTTP status `400 Bad Request`
- `fields` parameter has no effect on resources that returns plain value or array of plain values.

Examples:
  - `/public/branches?fields=id,name,location` - only get list of branches with id, name and location attributes

### GZIP compression
- we support GZIP compression of responses. Client must specify header `Accept-Encoding: gzip` in request in order to use the compression.

## Versioning
We use API version in URL (e.g. `https://api.client.mallpay.cz/customer/v1/my/profile`). Minor changes (see below) that don't break backwards compatibility do NOT increase API version, e.g. they may happen without prior notice and your application should be ready to handle them.

Minor changes include:
- adding new resource
- adding new optional header/URL parameter or optional body attribute to request
- adding new attribute to response body
- adding new error codes and messages, provided that error structure is the same

Every response contains a header `X-API-Version` whose value is in format `X.Y.Z` (1.0.0):
- X - major change, API is not backward compatible
- Y - minor change, API is not backward compatible
- Z - only patch/fix no API changes

## Language
We use English.

## Response encoding
Unless stated otherwise, all responses are sent as `Content-Type: application/json; charset=utf-8`

## HTTP status codes
We use following status codes throughout the API, except for OAuth flow when response codes are prescribed in RFC
- 200 `OK` - request was successful
- 201 `Created` - request was successful and resource was created
- 204 `No content` - we accepted your request but there is nothing to return (e.g. response is empty)
- 400 `Bad Request` - request is missing required parameters
- 401 `Unauthorized` - your API key is wrong or user not authorized (not logged in)
- 403 `Forbidden` - access denied (e.g. user / application is not allowed to use the resource)
- 404 `Not Found` - resource could not be found
- 405 `Method Not Allowed` - specified method is not allowed for resource
- 422 `Unprocessable Entity` - validation errors. Errors are specified in response body (see below)
- 429 `Too Many Requests` - you exceeded the rate limit (see X-Rate-Limit headers)
- 500 `Internal Server Error` - something went wrong on our side
- 503 `Service Unavailable` - there is planned service outage (TODO: should specify response headers with more details on service outage)

## Error handling
Besides HTTP status codes, which are the main indication if something goes wrong, we also use `errors` object to report more details about the errors.

Errors object example:
```javascript
{
    ...

    errors: [
        {
            "code": "ERR_100",
            "message": "Invalid contract number",
            "severity": "ERROR",
            "attribute": "partyAccount.accountNumber",          // optional
            "ticketId": "UAT1:AMS:20160516-091658.450:45e4" // optional
        },
        {
            "code": 352,
            "message": "Insufficiend funds for payment order realization",
            "severity": "WARN"
        },
        {
            "code": 523,
            "message": "This order will trigger currency exchange operation",
            "severity": "INFO"
        }
    ]
}
```

Error object attributes
| attribute name | description                                                     |
| ---            | ---                                                             |
| code           | unique error code                                               |
| message        | human readable error description (non-localized)                |
| severity       | error severity (see below)                                      |
| attribute      | json path of request attribute that caused the error (optional) |
| ticketId       | internal ticket ID, used for error backtracking                 |

There are 3 levels of error severity:

- ERROR - critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code (`422 Unprocessable Entity`)
- WARN - non-critical error, execution can continue but further user interaction is advisable (for request to proceed, you MUST specify this error code in `override` request attribute). This MIGHT be indicated also by appropriate HTTP status code.
- INFO - information only, execution can continue without user interaction.

## Formats
- **date** and **time** uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting, e.g.:
  - date is represented as `YYYY-mm-dd`. Timezone is added when necessary.
  - time is represented as `Thh:mm:ss`. Timezone is added when necessary.
  - day of week is represented as number 1..7, with 1 being Monday
  - week no. 1 is the week with the year's first Thursday in it
- **phone numbers** uses international format starting with '+' and including country code
- **numbers format** number format is defined by [JSON standard](http://www.json.org), e.g. decimals are separated by `.`
- **money format** uses [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) formatting (in minor units, e.g.: 12590 represents 125,90 CZK)

## Documentation principles
- attributes in request/response object are optional, unless stated otherwise (`required` flag under attribute name)
- required attribute in optional object means, that if optional object is specified, it must contain required attribute.
- all values in request/response attributes are just examples, except for enum values - these are the only possible values for given attribute.

## Partial update
We support partial update using PATCH method. Use JSON Merge Patch according to [RFC-7386](https://tools.ietf.org/html/rfc7386).

# Group My Data
Resources handling information about currently logged-in user. You need valid client [OAuth2 access token](#header-authentication) to access these resources.

# Group Account management
Resource group for managing customer's account.

## Customer login [/account/login]

### Login customer [POST]
Use this endpoint to obtain the access token. There are two possible ways to log in:

#### Classic login
Provide `username` and `password`.

#### Facebook login
Provide `facebookAccessToken`.

#### Mobile app token login
Provide `mobileToken`.

+ Request (application/json; charset=utf-8)
    + Attributes (CustomerLogin)

+ Response 200(application/json; charset=utf-8)
    Access token issued.
    + Attributes (CustomerLoginResult)

+ Response 422(application/json; charset=utf-8)
    Unable to authenticate the customer. List of error codes special for this endpoint:
    - `CONNECTION_ERROR` - Unable to connect to Facebook or invalid Facebook access token.
    - `INVALID_FACEBOOK_LOGIN` - The Facebook account is not linked to any MALL Pay account. Immediate registration is possible.
    - `INVALID_LOGIN` - Username or password is wrong.
    - `INVALID_MOBILE_LOGIN` - Mobile login token is invalid.
    + Attributes (Errors)

## Customer logout [/account/logout]
Use this resource to invalidate existing token, which in effect logs out the customer.

### Invalidate existing token [DELETE]
+ Request (application/json; charset=utf-8)

+ Response 204 (application/json; charset=utf-8)
    Logout successful.
    + Body

+ Response 403 (application/json; charset=utf-8)
    Customer is not logged in.
    + Attributes (Errors)

## Mobile login token management [/account/mobileToken]
Use this endpoint to generate new `mobileToken` for specified device, used for login in biometric login services. `deviceUuuid` can have variable length (of maximum length 32 characters) with combination of alphanum letters.

### Generate new token [POST]
Use this endpoint to get new mobile login token:
+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + deviceUuid: `a5d46273922540caa2432359367abc5c` (string) - Device UUID.

+ Response 200
    Mobile login token issued.
    + Attributes (CustomerMobileTokenResult)

+ Response 422 (application/json; charset=utf-8)
    Unable to generate a new mobile token:
    - `UUID_NOT_VALID` - UUID provided is not in valid format.
    - `TOKEN_FOR_SAME_UUID_EXISTS` - Mobile token for given UUID already exists. In order to generate a new token one must delete the old token first.
    + Attributes (Errors)

## Mobile login token removal [/account/mobileToken/{deviceUuid}]
Use this endpoint to delete mobile token for specified device, used for login in biometric login services.

### Remove mobile token [DELETE]
Entry of mobile token with given `deviceUuid` will be removed. This combination of `deviceUuid` and `mobileToken` will no longer work to log in.
+ Request (application/json; charset=utf-8)
    + Parameters
        + deviceUuid: `deviceuuid123456789` (string, required) - Device UUID

+ Response 204
    Mobile token asociated with given `deviceUuid` was removed.
    + Body
    
+ Response 404 (application/json; charset=utf-8)
    Device UUID not found.
    + Attributes (Errors)

+ Response 404 (application/json; charset=utf-8)
    Token with given UUID does not exist.
    + Attributes (Errors)

+ Request (application/json; charset=utf-8)
    + Parameters
        + deviceUuid: `bad$device&uuid*format` (string, required) - Bad format of Device UUID

+ Response 422 (application/json; charset=utf-8)
    Unable to find token:
    - `UUID_NOT_VALID` - UUID provided is not in valid format.
    + Attributes (Errors)

## Change password [/account/password]

### Set password [POST]
Use this endpoint to set password of a logged-in customer.
+ Request (application/json)
    + Attributes (object)
        + newPassword: `xt3hP58vouL61H40` (string, required) - New password.


+ Response 204
    Password change successful.
    + Body


+ Response 422 (application/json)
    Password change was not successful.
    - `PASSWORD_TOO_SHORT` - New password is too short.
    - `PASSWORD_NO_LOWERCASE_CHARACTER` - New password must contain lowercase character.
    - `PASSWORD_NO_UPPRECASE_CHARACTER` - New password must contain uppercase character.
    - `PASSWORD_NO_NUMERIC_CHARACTER` - New password must contain numeric character.
    + Attributes (Errors)


### Change password [PUT]
Use this endpoint to change password of a logged-in customer.
+ Request (application/json)
    + Attributes (object)
        + currentPassword: `f2FqYbmQZHXuPbdq` (string, required) - Customer's current password.
        + newPassword: `xt3hP58vouL61H40` (string, required) - New password.


+ Response 204
    Password change successful.
    + Body


+ Response 422 (application/json)
    Password change was not successful.
    - `CURRENT_PASSWORD_WRONG` - Current password is wrong.
    - `NEW_PASSWORD_EQUALS_CURRENT_PASSWORD` - New password is the same as the old password.
    - `PASSWORD_TOO_SHORT` - New password is too short.
    - `PASSWORD_NO_LOWERCASE_CHARACTER` - New password must contain lowercase character.
    - `PASSWORD_NO_UPPRECASE_CHARACTER` - New password must contain uppercase character.
    - `PASSWORD_NO_NUMERIC_CHARACTER` - New password must contain numeric character.
    + Attributes (Errors)


## Password set [/account/password/set]

### Password set [POST]
Use this endpoint to set a new password for:
* new customer (registration)
* existing customer (forgotten password)
+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + password: `f2FqYbmQZHXuPbdq` (string) - New password.
        + token: `a5d46273922540caa2432359367abc5c` (string) - Verification token.
        + consents (array) - List of consents given by customer
            + `REGISTRATION` - Consent with service terms and conditions
            + `MARKETING_EXTENDED` - Consent with extended marketing e-mails

+ Response 204
    Password set successful.
    + Body

+ Request Wrong data (application/json; charset=utf-8)
    + Attributes (object)
        + password: `f2FqYbmQZHXuPbdq` (string) - New password.
        + token: `nonsensetoken` (string) - Verification token.

+ Response 422(application/json; charset=utf-8)
    Password set was not successful.
    + Attributes (Errors)

+ Request Short password (application/json; charset=utf-8)
    + Attributes (object)
        + password: `f2FqYbmQZHXuPbdq` (string) - New password.
        + token: `short` (string) - Verification token.

+ Response 422(application/json; charset=utf-8)
    Password set was not successful.
    + Attributes (Errors)

## Request password reset [/account/password/reset]

### Request password reset [POST]
Use this endpoint to request a password reset. If the request is successful, a verification token will be generated and send to customer's e-mail address as a part of the password reset link. For security reasons, the response will not contain any information if the e-mail was actually sent.

+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + email: `john.doe@yahoo.com` (string) - Customer's e-mail address.
+ Response 204
    Password reset request successful.
    + Body

+ Request Wrong Fields (application/json; charset=utf-8)
    + Body
    ```
            {
            "string": "nonsense"
            }
    ```
+ Response 422 (application/json; charset=utf-8)
    Invalid input data.
    + Attributes (Errors)

+ Request No Data (application/json; charset=utf-8)
    + Body
+ Response 400 (application/json; charset=utf-8)
    Invalid input data.
    + Attributes (Errors)

+ Response 429 (application/json)
    Request throttling in effect.
    + Attributes (Errors)

+ Request Not Found (application/json; charset=utf-8)
    + Attributes (object)
        + email: `john.doe@yahoo.com` (string) - Customer's e-mail address.
+ Response 204 (application/json; charset=utf-8)


## Forgotten e-mail - TBD [/account/forgottenEmail]
Use this resource to remind the customer of his e-mail address (which is needed for login). The e-mail address will be sent to customer's phone via SMS. Customer does not need to be logged in to use this resource.

### Send e-mail address via SMS [POST]
+ Request (application/json)
    + Attributes (object)
        + phone: `+420607123456` (string) - Customer's phone in international format.


+ Response 204
    SMS with e-mail address sent successfully.
    + Body

+ Response 400 (application/json)
    Invalid input data.
    + Attributes (Errors)

+ Response 422 (application/json)
    SMS with e-mail address was not sent. Following errors codes are possible:
    * CUSTOMER_DOES_NOT_EXIST
    + Attributes (Errors)

## Resend registration e-mail [/account/resendRegistrationEmail]

### Resend registration e-mail [POST]
Use this resource to resend a registration e-mail to the customer. E-mail can be resent only in case it was already sent. For security reasons, the response will not contain any information if the e-mail was actually sent.
+ Request (application/json)
    + Attributes (object)
        + email: `john.doe@yahoo.com` (string) - Customer's e-mail address.

+ Response 204
    Registration e-mail was requested to be resent.
    + Body

+ Response 422 (application/json)
    Invalid input data.
    + Attributes (Errors)

+ Response 429 (application/json)
    Request throttling in effect.
    + Attributes (Errors)

## Register customer [/account/registration]

### Register a new customer [POST]
Use this resource to register a new customer. There are two ways of registration:

#### Classic registration
Provide `name`, `email` and `phone`.

#### Facebook registration
Provide `facebookAccessToken` and fields that cannot be retrieved from Facebook. The endpoint will indicate which fields are missing if you call it with `facebookAccessToken` only.

+ Attributes (object)
    + name: `John Doe` (string) - Customer's full name (first and last name).
    + email: `john.doe@yahoo.com` (string) - Customer's e-mail address.
    + phone: `+420777777777` (string) - Customer's phone in international format.
    + facebookAccessToken: `EAADcxbT9khgBAHkik7JGjl9ZCDsiV1TyWpVg4hpV6pUokIxYNPfxksp8S0lxAQz22hqehZBxKDxbZARvsfO9foUxj7uq5gGP3j7aLDCu9ZA9VjSobUU4UdadQUMHtxE2wv1uXxnSnST1SPjDi848VWrXQPkBolceCK5IWUvetVRttwdPrua4N1kVtB6V5uIZD` (string) - Facebook user access token.
    + consents  (array, required) - List of consents given by customer
        + `REGISTRATION` - Consent with service terms and conditions (required)
        + `MARKETING_EXTENDED` - Consent with extended marketing e-mails
    + promoSource: `referral:JNOVAK586` (string) - Contains either promo source URL part or referral code of referrer (should start with `referral:` prefix)
    + cjToken: `1234abcd` (string, optional) - CJEVENT affiliate token. It's obtained from URL parameters - ie. https://mallpay.cz/?cjevent=some-cute-code

+ Request classic registration with referral code (application/json; charset=utf-8)
    + Attributes (object)
        + name: `John Doe`
        + email: `john.doe@yahoo.com`
        + phone: `+420777777777`
        + consents
            + `REGISTRATION`
        + promoSource: `referral:JNOVAK586` (string) - referral code of referrer (customer who send registration link)

+ Response 200 (application/json; charset=utf-8)
    Customer has been registered.
    + Attributes (object)
        + result: `REGISTRATION_FINISHED` (enum, required) - Registration status.
            + `REGISTRATION_FINISH_REQUIRED` - Customer must finish registration by clicking on a link that has been sent to his e-mail address. Might be returned for both types of registration.

+ Request Facebook registration with promo source URL (application/json; charset=utf-8)
    + Attributes (object)
        + facebookAccessToken: `EAADcxbT9khgBAHkik7JGjl9ZCDsiV1TyWpVg4hpV6pUokIxYNPfxksp8S0lxAQz22hqehZBxKDxbZARvsfO9foUxj7uq5gGP3j7aLDCu9ZA9VjSobUU4UdadQUMHtxE2wv1uXxnSnST1SPjDi848VWrXQPkBolceCK5IWUvetVRttwdPrua4N1kVtB6V5uIZD`
        + phone: `+420777777777`
        + consents
            + `REGISTRATION`
        + promoSource: `advertisementYY` (string) - the tag of campaign which redirected the user here

+ Response 200 (application/json; charset=utf-8)
    Customer has been registered.
    + Attributes (object)
        + result: `REGISTRATION_FINISHED` (enum, required) - Registration status.
            + `REGISTRATION_FINISHED` - Registration is finished, immediate login is possible. Returned in case of Facebook registration only.
            + `REGISTRATION_FINISH_REQUIRED` - Customer must finish registration by clicking on a link that has been sent to his e-mail address. Might be returned for both types of registration.

+ Request classic registration with user already registered before (application/json; charset=utf-8)
    + Attributes (object)
        + name: `John Doe`
        + email: `john.doe@yahoo.com`
        + phone: `+420777777777`
        + consents
            + `REGISTRATION`

+ Response 422 (application/json; charset=utf-8)
    Customer has not been registered. List of error codes special for this endpoint:
    - `ALREADY_CONNECTED_NOT_FINISHED` - The Facebook account is already connected to an existing MALL Pay account, but customer must finish registration.
    - `ALREADY_CONNECTED` - The Facebook account is already connected to an existing MALL Pay account. Immediate login is possible.
    - `ALREADY_EXISTS` - MALL Pay account with this email/phone already exists.
    - `CONNECTION_ERROR` - Unable to connect to Facebook or invalid Facebook access token.
    - `EMAILS_DIFFER` - Facebook e-mail address differs from matched MALL Pay account e-mail address.
    + Attributes (Errors)

+ Request Facebook registration with many consequent calls (application/json; charset=utf-8)
    + Attributes (object)
        + facebookAccessToken: `EAADcxbT9khgBAHkik7JGjl9ZCDsiV1TyWpVg4hpV6pUokIxYNPfxksp8S0lxAQz22hqehZBxKDxbZARvsfO9foUxj7uq5gGP3j7aLDCu9ZA9VjSobUU4UdadQUMHtxE2wv1uXxnSnST1SPjDi848VWrXQPkBolceCK5IWUvetVRttwdPrua4N1kVtB6V5uIZD`
        + phone: `+420777777777`
        + consents
            + `REGISTRATION`

+ Response 429 (application/json; charset=utf-8)
    Request throttling in effect.
    + Attributes (Errors)

## Request account upgrade [/account/upgrade]
Use this resource to manage customer's requests for upgrading his account type.

### Create account upgrade request [POST]
Use this endpoint to create a new account upgrade request for a logged-in user. The revolving loan application will be created for given type. There should be no existing application.

+ Request Start application process for PLUS account type (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + type: `PLUS`

+ Response 201 (application/json; charset=utf-8)
    Revolving loan application in progress.
    + Attributes (AccountUpgradeApplicationResponse)
        + type: `PLUS`
        + slug: `CUSTOMER_INFORMATION_CONTACT`

+ Request Start application process without specifying account type (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)

+ Response 422 (application/json; charset=utf-8)
    Contract type must be specified.
    + Attributes (Errors)

+ Request Start another new application while another one already exists (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + type: `PLUS`

+ Response 409 (application/json; charset=utf-8)
    There could be just one application in progress.
    + Attributes (AccountUpgradeApplicationResponse)
        + type: `PLUS`
        + slug: `CUSTOMER_INFORMATION_CONTACT`


### Update application of account upgrade request [PATCH]
The request will modify the most recent application in progress.

+ Request Updating application which does not exist (application/json; charset=utf-8)
    + Attributes (object)
        + firstName: `John`

+ Response 404 (application/json; charset=utf-8)
    No application in progress for account upgrade exists.
    + Attributes (Errors)

+ Request Providing new data for the next step (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + firstName: `John`
        + lastName: `Doe`

+ Response 200 (application/json; charset=utf-8)
    Revolving loan application in progress. Next slug `CUSTOMER_INFORMATION_ADDRESS` returned inside body.
    + Attributes (AccountUpgradeApplicationResponse)
        + type: `PLUS`
        + slug: `CUSTOMER_INFORMATION_ADDRESS`
        + firstName: `John`
        + lastName: `Doe`

+ Request Not providing all required attributes of the bound fields (application/json; charset=utf-8)
    lengthOfMaternityLeave value is missing in request
    + Attributes (AccountUpgradeApplicationRequest)
        + sourceOfIncome: `MATERNITY_LEAVE`

+ Response 422 (application/json; charset=utf-8)
    Attribute lengthOfMaternityLeave must be specified with this source of income type.
    + Attributes (Errors)

+ Request Bank business card indentification method (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + kycIdentificationMethod: `BANK_BUSINESS_CARD`

+ Response 200 (application/json; charset=utf-8)
    Bank business card API is called from the backend. Returns back to client information about supported banks (BIC) and URL which are used to render login page to bank account.
    + Attributes (AccountUpgradeApplicationResponse)
        + bankBusinessCard (array, optional)
            + (object)
                + bic: `EQBKCZPP`
                + url: `http://example.com/redirect/connect?redirectId=f277a779-58cf-446c-a163-3ba1c77134ef&bic=eqbkczpp`
            + (object)
                + bic: `AIRACZPP`
                + url: `http://example.com/redirect/connect?redirectId=f277a779-58cf-446c-a163-3ba1c77134ef&bic=airaczpp`

+ Request Invalid proof of income file content (application/json; charset=utf-8)
    + Attributes (object)
        + bankStatements (array[BankStatementDocument])

+ Response 422 (application/json; charset=utf-8)
    File content was evaluated as not supported file type

    + Body

            {
                "errors": [{
                    "message": "Obsah souboru musí být formátu base64",
                    "severity": "ERROR",
                    "attribute": "file.content",
                    "code": "INVALID"
                }]
            }


+ Request Self-employed customer uploads only one proof of income document (application/json; charset=utf-8)
    + Attributes (object)
        + sourceOfIcome: `SELF_EMPLOYED`
        + companyRegistrationNumber: `ABCDE12345`
        + bankStatements (array, BankStatementDocument)
            + file (BankStatementDocument)

    + Body

            {
                "sourceOfIncome: "SELF_EMPLOYED",
                "companyRegistrationNumber": "ABCDE12345,
                "bankStatements": [{
                    "file": {
                        "filename": "doklad1.pdf",
                        "content": "RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw=="
                    }
                }]
            }

+ Response 422 (application/json; charset=utf-8)
    Self-employed customer should provide exactly three proof of income documents.
    + Attributes (Errors)

    + Body

            {
                "errors": [
                    {
                        "message": "OSVČ musí poskytnout právě tři doklady o příjmu.",
                        "severity": "ERROR",
                        "attribute": "bankStatements",
                        "code": "INVALID"
                    }
                ]
            }

+ Request Non self-employed customer uploads more than one proof of income documents (application/json)
    + Attributes (object)
        + sourceOfIcome: `EMPLOYMENT`
        + trialPeriod: `False`
        + bankStatements (array, BankStatementDocument)
            + file (BankStatementDocument)

    + Body

            {
                "sourceOfIncome": "EMPLOYMENT",
                "trialPeriod": "False,
                "bankStatements": [{
                    "file": {
                        "filename": "doklad1.pdf",
                        "content": "RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw=="
                    }
                },
                {
                    "file": {
                        "filename": "doklad2.pdf",
                        "content": "RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw=="
                    }
                }
                ]
            }
+ Response 422
    Non self-employed customer should provide exactly one proof of income document.
    + Body

            {
                "errors": [{
                    "message": "Osoba, která není OSVČ, musí poskytnout právě jeden doklad o příjmu.",
                    "severity": "ERROR",
                    "attribute": "bankStatements",
                    "code": "INVALID"
                }]
            }

+ Request Signing contract - request to send OTP (application/json; charset=utf-8)
    The attribute `slug` must be set to `CONFIRMATION_AGREEMENT_SMS`

    + Body

            {}

+ Response 480 (application/json; charset=utf-8)
    OTP has been sent
    + Attributes
        + OTPErrors


+ Request Signing contract (application/json; charset=utf-8)
    Request to resend OTP. The attribute `slug` must be set to `CONFIRMATION_AGREEMENT_SMS`

    + Body

            {
                "otpResend": true
            }

+ Response 480 (application/json; charset=utf-8)
    OTP has been sent
    + Attributes
        + OTPErrors


+ Request Signing contract send OTP (application/json; charset=utf-8)
    The attribute `slug` must be set to `CONFIRMATION_AGREEMENT_SMS`

    + Body

            {
                "otpCode": "abc123"
            }

+ Response 200
    OTP code is valid
    + Attributes
        + AccountUpgradeApplicationResponse (required)

+ Response 422 (application/json)
    Invalid OTP code

    + Body

            {
                "errors": [
                    {
                        "message": "Kód není platný",
                        "severity": "ERROR",
                        "attribute": "otpCode",
                        "code": "INVALID"
                    }
                ]
            }

### State of account upgrade application request [GET]
Get information about current active revolving loan application.

+ Request (application/json; charset=utf-8)

+ Response 200
    + Attributes (AccountUpgradeApplicationResponse)
+ Response 404
    User not yet created account upgrade request.

    + Body

            {
                "errors": [{
                    "message": "Nenalezeno",
                    "severity": "ERROR",
                    "code": "OBJECT_NOT_FOUND"
                }]
            }

## Consents [/account/consents]
All consents user is able to subscribe and unsubscribe.

### Available consents [GET]
Get all aconsents a can be subscribed to. Allowed subscriptions are `MARKETING` and `MARKETING_EXTENDED`.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Consent], fixed-type, required)

### Change subscription of consents [PUT]
Subscribe or unsubscribe user to filtered consents. Requires user authorization or providing valid verification token as attribute.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | no
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

filter name | possible operators | example
---         | ---                | ---
slug        | eq                 | `consents?filter=slug|eq|MARKETING`  consent with slug `MARKETING`
slug        | in                 | `consents?filter=slug|in|MARKETING,MARKETING_EXTENDED`  consent with slugs `MARKETING` and `MARKETING_EXTENDED`

+ Attributes (object)
    + isSubscribed: `true` (boolean, required) - if is true it will add consents described in filter to the user otherwise it will remove them
    + token: `s5as4d5a6s54d5sa6asd56` (string, optional, nullable) - valid verification token used instead of user authorization

+ Request with authorized user (application/json)
    + Attributes (object)
        + isSubscribed: `true`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Consent], fixed-type, required)

+ Request with unauthorized user with valid token (application/json)
    + Attributes (object)
        + isSubscribed: `true`
        + token: `s5as4d5a6s54d5sa6asd56`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Consent], fixed-type, required)

+ Request with unauthorized user and invalid token (application/json)
    + Attributes (object)
        + isSubscribed: `true`
        + token: `invalid_token`

+ Response 422 (application/json)
    Unauthorized user and invalid verification token. Following errors codes are possible:
    * UNAUTHORIZED_AND_TOKEN_INVALID
    + Attributes (Errors)

+ Request unknown consent in filter (application/json; charset=utf-8)
    + Parameters
        + filter: `slug|eq|UNKNOWN_CONSENT`

+ Response 400 (application/json; charset=utf-8)
    + Attributes (Errors)

+ Request with bad filter format (application/json; charset=utf-8)
    + Parameters
        + filter: `wrong_filter_name|eq|MARKETING_EXTENDED`

+ Response 400 (application/json; charset=utf-8)
    + Attributes (Errors)

## Push notification devices [/account/push-notification-devices]
Push notification devices for customer.

### Register new device [POST]

+ Request (application/json)
    + Attributes (PushNotificationDeviceToken)

+ Response 204 (application/json; charset=utf-8)

+ Response 422 (application/json; charset=utf-8)
    Push notification device already exists. Following codes are possible.
    * PUSH_NOTIFICATION_DEVICE_EXISTS
    + Attributes (Errors)

## Push notification devices detail [/account/push-notification-devices/{type}/{token}]
Customer push notification device detail.

+ Parameters
    + token (string, required) - Actual token of the device
    + type (enum, required) - Type of the device
        + `ANDROID`
        + `IOS`

### Unregister a device [DELETE]

+ Request (application/json)

+ Response 204 (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    Push notification device does not exist.
    + Attributes (Errors)

+ Response 422 (application/json; charset=utf-8)
    Supplied type of device is invalid. Following errors codes are possible:
    * INVALID
    + Attributes (Errors)

## Referral promo code stats [/account/referral/stats]

### Get referral code stats [GET]
Get referral code information of the customer.

+ Request (application/json; charset=utf-8)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (ReferralCodeStats, required)

## Referral promo code stats by key [/account/referral/{key}/stats]
Referral promo code information found by key of promo code from customer.

+ Parameters
    + key: `JOEDOE123` (string, required) - referral promo code key

### Get referral code stats by key [GET]
Get referral code information by promo code key provided. No authorization is required.

+ Request (application/json; charset=utf-8)
    + Parameters
        + key: `JOEDOE123`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (ReferralCodeStats, required)

+ Request (application/json; charset=utf-8)
    + Parameters
        + key: `INVALID_KEY`

+ Response 404 (application/json; charset=utf-8)

        Promo code with given key not found.

    + Attributes (Errors)

## Referral reward codes [/account/referral/rewards]

### Get referral reward codes received [GET]
Get reward promo codes customer received for each new customer (referee).

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (array[ReferralRewardCodesReceived], required)

# Group Revolving loan
Management of cards and listing the transactions from revolving loan.

## Revolving loan contract [/my/contract]
Data of current active revolving loan contract.

### Display revolving loan contract data [GET]
Returns data of current revolving loan contract of logged-in user.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (RevolvingLoanContract, required)

+ Request of not-existing contract (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

## Monthly billings [/my/contract/billing]
Monthly billings of logged-in user.

### Monthly billings for contract [GET]
Get list of monthly billings for revolving contract of logged-in user

### Filtering
This resource supports filtering.

filter name             | possible operators    | example
---                     | ---                   | ---
isPaid                  | eq                    | `billing?filter=ispaid|eq|False` billings, which were not paid yet (eg. closed last month and open actual month billing)
paymentAvailability     | eq                    | `billing?filter=paymentavailability|eq|AVAILABLE` billings, which are ready to be paid (eg. last month billing)

### Sorting
This resource supports sorting according `year` and `month`. Default sorting is according year and month in descending order.
Example: `billing?sort=-year,-month`

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Billing], required) - List of monthly billings for contract of logged-in user

+ Request monthly billings for non-existing contract (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

## Monthly billing detail [/my/contract/billing/{billingId}]
Detail of monthly billing for revolving contract of logged-in user

### Monthly billing detail for contract [GET]
Get detail of monthly billing

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Billing)

+ Request for non-existing billing (application/json; charset=utf-8)
    Billing not found
    + Attributes (Error)

## Transactions [/my/contract/transaction]
Transactions for revolving contract of logged-in user.

### Transactions for revolving contract [GET]
Get list of transactions for revolving contract of logged-in user.

#### Filtering
This resource supports following filtering.

filter name     | possible operators    | example
---             | ---                   | ---
billingId       | eq, in                | `transaction?filter=billingId|in|1,2` all transactions from billings with id 1 and 2
type            | eq, in                | `transaction?filter=type|in|CARD_TRANSACTION_DOMESTIC, CARD_TRANSACTION_ABROAD` transactions, whose type is from the list CARD_TRANSACTION_DOMESTIC, CARD_TRANSACTION_ABROAD
date            | lte, gte              | `transaction?filter=date|gte=20-05-18&lte=2020-05-20` all transactions created or posted between 18th and 20th May 2020
amount          | lte, gte              | `transaction?filter=amount|gte=150000&lte=200000` transactions, which have amount greater or equal to 1500,- CZK and less or equal to 2000,- CZK


Fulltext search can be used in transaction endpoint. The system will search for `query_string` in the fields
`merchantName`, `merchantCity` and `description`.

fulltext search  | query string     | example
---              | ---              | ---
fulltext         | `Palladium`      | `transaction?filter=fulltext|Palladium` transactions, which contain string `Palladium` in `merchantName` or `merchantCity` or `description`


+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[RevolvingTransaction], fixed-type, required) - List of transactions for contract of logged-in user

+ Request transactions for non-existing contract (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

## Transaction detail [/my/contract/transaction/{transactionId}]
Detail of transaction for revolving contract of logged-in user.

### Transaction detail for revolving contract [GET]
Get detail of transaction

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (RevolvingTransaction)

+ Request for non-existing transaction (application/json; charset=utf-8)
   Transaction not found
   + Attributes (Error)

# Group My profile
Resources for accessing and modifying user personal data.

## Facebook connection [/account/facebook]

### Connect facebook account to a customer [POST]
Use this resource to connect facebook account to a customer.

+ Request (application/json)
    + Attributes (object)
        + facebookAccessToken: `EAADcxbT9khgBAHkik7JGjl9ZCDsiV1TyWpVg4hpV6pUokIxYNPfxksp8S0lxAQz22hqehZBxKDxbZARvsfO9foUxj7uq5gGP3j7aLDCu9ZA9VjSobUU4UdadQUMHtxE2wv1uXxnSnST1SPjDi848VWrXQPkBolceCK5IWUvetVRttwdPrua4N1kVtB6V5uIZD` (string, required) - Facebook user access token.

+ Response 204
    Facebook account was connected
    + Body

+ Response 422 (application/json)
    Facebook account was not connected. List of error codes special for this endpoint:
    - `ALREADY_CONNECTED_NOT_FINISHED` - The Facebook account is already connected to an existing MALL Pay account, but customer must finish registration.
    - `ALREADY_CONNECTED` - The Facebook account is already connected to an existing MALL Pay account. Immediate login is possible.
    - `CONNECTION_ERROR` - Unable to connect to Facebook or invalid Facebook access token.
    + Attributes (Errors)

### Disconnect facebook account from a customer [DELETE]
Use this resource to disconnect facebook account from a customer.

+ Response 204
    Facebook account was disconnected
    + Body

+ Response 422 (application/json)
    Facebook account was not connected. List of error codes special for this endpoint:
    - `NOT_CONNECTED` - The Facebook account isn't connected to an the account
    + Attributes (Errors)

## Customer information [/my/profile]
Customer profile information

### Get client information [GET]
Get information about logged-in user.
+ Request (application/json; charset=utf-8)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Client, required)

+ Response 400 (application/json; charset=utf-8)

        There was an error processing request

    + Attributes (Errors)

## Questionnaire [/my/profile/questionnaire/{hash}/]
Questionnaire for customer

### Get questionnaire data [GET]
Get questions (data) for questionnaire construction
+ Request (application/json; charset=utf-8)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + questions (array[Question], fixed-type, required)

+ Response 400 (application/json; charset=utf-8)

        There was an error processing request

    + Attributes (Errors)

# Group Notifications
Resource group for managing customer's notifications.

## List of notifications [/notifications]

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
Resource does not support manual sorting, default sorting is by `created_at` descending.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name        | possible operators | example
---                | ---                | ---
id                 |eq,in               | `notifications?filter=id|in|1,3` means notifications that have id 1 or 3

### Get list of notifications [GET]
Use this endpoint to get list of notifications. This endpoint supports pagination.

+ Request (application/json)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Notification], fixed-type, required)
        + pagingInfo (PagingInfo, optional)

### Mark notification as read/triggered [PATCH]
Use this endpoint to indicate, that user has seen the notification(s) and/or interacted with it/them (e.g. he clicked or tapped it).

Use filter (by ID) to limit set of affected notifications.

+ Request  (application/json; charset=utf-8)
    + Attributes (object)
        + isRead: `true` (boolean) - Mark notification as read (i.e. user has seen the notification)
        + isTriggered: `true` (boolean) - Mark notification as triggered (i.e. user has interacted with the notification, e.g. he clicked or tapped it)
+ Response 204 (application/json; charset=utf-8)

## Number of unread notifications [/notifications/unread]

### Get number of unread notifications [GET]
Use this endpoint to get number of unread notifications.

+ Request (application/json)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + count (number) - Number of unread notifications

# Group Personal data
Resource group for managing customer's personal data

## Personal data request [/personalData/request/]

### Personal data request [POST]
Use this endpoint to request personal data operation

+ Request (application/json)
    + Attributes (object)
        + firstName (string) - First name
        + lastName (string) - Last Name
        + email (string, required) - email of person whom wants to process gdpr request
        + subject (string, required) - GDPR request type
        + message (string) - Additional user message for GDPR request

+ Response 200 (application/json)
    GDPR request successfully added, show message about email confirmation
    + Attributes
        + status: `ACCEPTED` (enum, required) - personal data request status
            + `ACCEPTED` - request is accepted
            + `UNCONFIRMED` - request needs to be confirmed via email

+ Response 400 (application/json)
    There was an error processing request
    + Attributes (Errors)

+ Response 422 (application/json)
    Invalid input data.
    + Attributes (Errors)


## Personal request confirm [/personalData/request/{token}/confirm]

Specific customer contract.


### Personal request confirm [POST]
Use this enpoint to confirm personal request operation

+ Attributes (object)
    + token (string, required): `s5as4d5a6s54d5sa6asd56` - GDPR token

+ Response 204
    GDPR request successfull, there is no space for error
    + Body

# Group My contracts
Set of resources to access and modify client's contracts.

## Customer contracts [/my/contracts]
Customer contracts.

### List of contracts [GET]
Get a list of customer contracts.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | no
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | no


+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Contract], fixed-type, required)

## Customer contract detail [/my/contracts/{contractNumber}]
Specific customer contract.

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract

### Contract detail [GET]
Get details about one customer contract.

+ Request Get contract details (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718`

+ Response 200 (application/json; charset=utf-8)
   + Attributes (Contract)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract`

+ Response 404 (application/json; charset=utf-8)
    + Attributes (Errors)

## Applications [/my/contracts/{contractNumber}/applications]
Applications of given contract.

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract

### Applications on contract [GET]
Get a list of applications on given contract.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | no
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
TBD.
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
TBD.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
state            |eq,in               | `applications?filter=state|in|READY` applications that are ready to be financed
stateReason      |eq,in               | `applications?filter=stateReason|in|READY_TO_SHIP` applications that are READY_TO_SHIP
type             |eq,in               | `applications?filter=type|in|INSTALLMENT` applications financed by installment program

+ Request Existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `54307275`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Application], fixed-type, required)
        + pagingInfo (PagingInfo, optional)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract`  (string)

+ Response 404 (application/json; charset=utf-8)
    Non-existing contract
    + Attributes (Errors)

## Specific application [/my/contracts/{contractNumber}/applications/{applicationId}]
Specific application.

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract
    + applicationId: `a7718` (string, required) - ID of application

### Application detail [GET]
Get details of one application.

+ Request  (application/json; charset= utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 200 (application/json; charset=utf-8)
    Existing application
    + Attributes (Application)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `6605812455` (string, required) - ID of contract
        + applicationId: `this_is_no_application` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

### Cancel application [DELETE]
Cancel application processing.

+ Request  (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 204 (application/json; charset=utf-8)
    Application processing was cancelled.
    + Body

+ Request Invalid application state (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 422 (application/json; charset=utf-8)
    Application cannot be cancelled.
    + Attributes (Errors)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Contract or application not found.
    + Attributes (Errors)

+ Request non existent application (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application cannot be cancelled.
    + Attributes (Errors)

## Promo codes [/my/contracts/{contractNumber}/applications/{applicationId}/applyPromocode]
Customer can apply for discount price by submitting promo code.

+ Parameters
    + applicationId: `a7718` (string, required) - ID of application

### Submit promo code [POST]

+ Request  (application/json; charset= utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + key: `MALL1SAW3S0M3` (string, required) - promo code key

+ Response 200 (application/json; charset=utf-8)
    Existing application and valid applicable promo code
    + Attributes (Application)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application
    + Attributes (object)
        + key: `MALL1SAW3S0M3` (string, required) - promo code key

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

+ Request Invalid promo code (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + key: `this_is_invalid_key` (string, required) - promo code key

+ Response 422 (application/json; charset=utf-8)
    Promo code is invalid or expired.
    + Attributes (Errors)

## Getting list of application item services [/my/contracts/{contractNumber}/application/item]
Services on given application items

feature                       | supported by resource
---                           | ---
[paging](#header-paging)      | yes
[sorting](#header-sorting)    | no
[filtering](#header-filtering)| yes

#### Paging
This resource supports [paging](#header-paging). As a value to `before` and `after` parameters, use `Id` attribute.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
data             |in,eq               | `item?filter=data|eq|list_of_item_ids` only items in "list_of_item_ids"
service_active   |in,eq               | `item?filter=service_active|eq|true` only items with active services

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract

### List of application items with services [GET]
Services on given application items

+ Request (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract

+ Response 200 (application/json, charset=utf-8)
    + Attributes (object)
        + `data` (array[Item], required) - List of application order items

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

## Purchasing services for application items [/my/contracts/{contractNumber}/application/{applicationId}/services]
Purchasing Services on given application items

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract
    + applicationId: `application_id` (string, required) - ID of application
+ Attributes
    + serviceId: `service-adp` (string, required) - ID of the service

### Purchasing services for application items [POST]
Allows ordering of the service based on previous offer

+ Request (application/json; charset=utf-8)
    Correct request.
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `application_id` (string, required) - ID of application
    + Attributes
        + serviceId: `service-adp`

+ Response 204 (application/json; charset=utf-8)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract
        + applicationId: `application_id` (string, required) - ID of application
    + Attributes
        + serviceId: `service-adp`

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

+ Request Non-existing service (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `application_id` (string, required) - ID of application
    + Attributes
        + serviceId: `this_service_does_not_exist`

+ Response 404 (application/json; charset=utf-8)
    Service not found.
    + Attributes (Errors)

## Purchasing rewards for application [/my/contracts/{contractNumber}/application/{applicationId}/rewards]
Purchasing Rewards on given application items

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract
    + applicationId: `application_id` (string, required) - ID of application

### Purchasing rewards for application order items [POST]
Allows purchasing/ordering of the reward based on info in an application

+ Request (application/json; charset=utf-8)
    Correct request.
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `application_id` (string, required) - ID of service
    + Attributes
        + type: `FREE_DELIVERY` (enum, required) - type of reward to purchase
            + FREE_DELIVERY
            + SERVICE_DISCOUNT
        + itemId (string, required) - (TODO: business logic is currently not using this ID (will be required for type FREE_DELIVERY in future).)
        + serviceId (string, optional, nullable) - Id of service to purchase reward for

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Application)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application
    + Attributes (object)
        + type: `FREE_DELIVERY` (enum, required) - reward type
        + itemId (string, required)

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

+ Request Invalid reward type (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + type: `this_is_invalid_reward_type` (enum, required) - invalid enum value
        + itemId: `item-id` (string, required)

+ Response 422 (application/json; charset=utf-8)
    Reward not found.
    + Attributes (Errors)

+ Request Cannot apply rewards (application/json; charset=utf-8)
    Request is correct but the reward has already been applied or customer does not have enough coins, etc.
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `service-adp` (string, required) - ID of service
    + Attributes
        + type: `FREE_DELIVERY` (enum, required) - type of reward to purchase
        + itemId: `itemId` (string, required)

+ Response 422 (application/json; charset=utf-8)
    + Attributes (Errors)


## Installments [/my/contracts/{contractNumber}/installments{?selection}]
Installments of given contract (installment schedule for CEL contract)

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract
    + selection: `current` (enum, optional) - request one specific installment
        + `first` - first installment
        + `previous` - installment preceding current installment (ie. installment with due date in previous month)
        + `current` - current installment (ie. installment with due date in current month)

## Documents for contract [/my/contracts/{contractNumber}/documents]
Documents issued on given contract.

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract

### Documents for contract [GET]
Get a list of documents issued on given contract.

feature                       | supported by resource
---                           | ---
[paging](#header-paging)      | no
[sorting](#header-sorting)    | no
[filtering](#header-filtering)| yes

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
type             |in,eq               | `documents?filter=type|eq|MONTHLY_STATEMENT` only documents of type "MžsŪŤnŪ vżpis"

+ Request  (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[ContractDocument], fixed-type, required)

# Group Payment cards for contract

## Payment Cards for contract [/my/contract/card]
List of payment cards for the given customer contract

### Cards for contract [GET]
Get a list of payment cards associated with the given contract.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[PaymentCard], fixed-type, required)

## Detail and modification of payment card for contract [/my/contract/card/{cardId}]
Detail of given payment card

### Card for contract [GET]
Get detail of given payment card

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)

### Activate card [PATCH]
Activate the given card. When activating the card for the first time, OTP code is required. Can also be used to activate the card after it has been temporarily blocked.

+ Request (application/json; charset=utf-8)
    + Attributes
        + `state`: `ACTIVATED` (enum, required)
        + `otpCode`: `123` (string, optional) - Please note that `otpCode` is required when activating the card for the first time. It is not required when the card is activated from `BLOCKED_TEMPORARILY` state.

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)
    + Attributes
        + `state`: `ACTIVATED` (enum, required)
        + `otpCode`: `123` (string, required)

+ Response 401 (application/json; charset=utf-8)
    Returned when the `optCode` authorization does not match.
    + Attributes (Errors)

+ Request (application/json; charset=utf-8)

+ Response 403 (application/json; charset=utf-8)
    Returned in cases, where the card cannot be activated - ie. it has already been activated and now it is permanently blocked, for example.
    + Attributes (Errors)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)


+ Request (application/json; charset=utf-8)
    Request to send optCode to a customer. Returns validity of code sent.
    + Attributes
        + `state`: `ACTIVATED` (enum, required)
        + `optCode`: null (string, required, nullable)

+ Response 480 (application/json; charset=utf-8)
    + Attributes (OTPErrors)

### Changing card limits [PATCH]
Change (enable/disable) limits on the card

+ Request (application/json; charset=utf-8)
    + Attributes
        + `onlinePaymentEnabled`: true (boolean, optional, nullable) - Enable/disable online payment with the card. Null value does not change setting and keeps value previously set.
        + `atmWithdrawalEnabled`: true (boolean, optional, nullable) - Enable/disable cash withdrawal from ATMs. Null value does not change setting and keeps value previously set.

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)


## Card blocking [/my/contract/card/{cardId}/blocking]
Block a card. Two versions are available - permanent and temporary.

### Permanently block a card [POST]
Permanently blocks the card.

__NOTE__: This step cannot be undone.

+ Request (application/json; charset=utf-8)
    + Attributes (PaymentCardPermanentBlocking)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)

### Temporarily block a card [POST]
Allows to temporarily block a card, for example when you are not going to use it for a long time or you cannot find it but are not yet sure if it really is lost or stolen (ie when searching for it). Unblocking the card is done by the same method used for activation.

+ Request (application/json; charset=utf-8)
    + Attributes (PaymentCardTemporaryBlocking)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)

## Showing a card's PIN number [/my/contract/card/{cardId}/pinView]
Return an image with card's PIN number.

### Show card PIN [POST]
Display pin of the card. The returned image will be object of image data.

+ Request (application/json; charset=utf-8)
    + Attributes
        + `optCode`: `123` (string, required, nullable) - request confirmation code - second level of authorization

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + `pinData` (string, required) - Base64 encoded image of PIN. Returned data type may change.


+ Request (application/json; charset=utf-8)
    + Attributes
        + `otpCode`: `123` (string, required, nullable)

+ Response 401 (application/json; charset=utf-8)
    Returned when the `optCode` authorization does not match.
    + Attributes (Errors)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)


+ Request (application/json; charset=utf-8)
    Request to send optCode to a customer. Returns validity of code sent.
    + Attributes
        + `optCode`: null (string, required, nullable)

+ Response 480 (application/json; charset=utf-8)
    + Attributes (OTPErrors)

# Group My history data contracts
Set of resources to access and modify client's contracts.

## Applications [/historydata/my/applications]
Applications of given contract.

### Applications on contract [GET]
Get a list of applications on given contract.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | no
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
TBD.
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
TBD.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
state            |eq,in               | `applications?filter=state|in|READY` applications that are ready to be financed
stateReason      |eq,in               | `applications?filter=stateReason|in|READY_TO_SHIP` applications that are READY_TO_SHIP
type             |eq,in               | `applications?filter=type|in|INSTALLMENT` applications financed by installment program

+ Request Existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `54307275`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[HistoryApplication], fixed-type, required)
        + pagingInfo (PagingInfo, optional)


## Specific application [/historydata/my/applications/{applicationId}]
Specific application.

+ Parameters
    + applicationId: `a7718` (string, required) - ID of application

### Application detail [GET]
Get details of one application.

+ Request  (application/json; charset= utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 200 (application/json; charset=utf-8)
    Existing application
    + Attributes (HistoryApplication)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `6605812455` (string, required) - ID of contract
        + applicationId: `this_is_no_application` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)


# Group My Payments

## Payments [/my/payments]
Payments operations.

### Request new payment [POST]
Prepare payment order data for specified repayments. TODO: add payment method.

+ Request TRANSFER/SAZKA (application/json; charset=utf-8)
    + Attributes (PaymentRequest)

+ Response 200(application/json; charset=utf-8)

        Payment order method TRANSFER/SAZKA was prepared and can be paid.

    + Attributes (DomesticPaymentOrder)

+ Request CARD/PLATBA24/MOJE_PLATBA/EKONTO (application/json; charset=utf-8)
    + Attributes (PaymentRequest)

+ Response 200(application/json; charset=utf-8)

        Payment order method CARD/PLATBA24/MOJE_PLATBA/EKONTO was prepared and can be paid.

    + Attributes (OnlinePaymentOrder)


+ Response 400(application/json; charset=utf-8)

        There was an error processing request

    + Attributes (Errors)


## Payment options [/my/payments/options{?amount}]
Get all possible repayment options

+ Parameters
  + amount: 11000 (number, optional) - Amount to pay specified by client, in minor units and default currency (e.g. 11000 means 110 CZK). If set, repayment options will be modified accordingly. NOT SUPPORTED YET.

### Repayment options [GET]
Get prioritized list of possible installments that are available for repayment. If no amount is specified, upper bound of repayment is calculated according to business rules (e.g. including all possible installments).

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[PaymentItem], fixed-type, required)

+ Response 400 (application/json; charset=utf-8)

        There was an error processing request

    + Attributes (Errors)


# Group My Settings

## My settings [/my/settings]
Information about settings

### List of settings [GET]

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PromoBanner)

# Group My Documents

## Documents for client [/my/documents]
All documents for client and for all his contracts.

### List of documents [GET]
Get a list of documents.

feature                       | supported by resource
---                           | ---
[paging](#header-paging)      | no
[sorting](#header-sorting)    | no
[filtering](#header-filtering)| yes

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
type             |in,eq               | `documents?filter=type|eq|GEN_SMS_SIGN_AGREEMENT` only documents of type "Smlouva o pouěŪvŠnŪ online aplikacŪ"


+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[ContractDocument], fixed-type, required)

# Group MALL Coin

## Client's MALL Coin overview [/coins/overview]
Overview of client's coin account. Currently only account coin balance.

### MALL Coin account overview [GET]
Get coin account overview

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (CoinBalance)

## Client's MALL Coin transactions [/coins/transactions]
Overview of client's MALL Coin transactions.

### MALL Coin transactions list [GET]
Get customer coin transactions list

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
TBD.
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
Resource does not support manual sorting, default sorting is by `created_at descending`.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name        | possible operators | example
---                | ---                | ---
id                 |eq,in               | `transactions?filter=id|in|1,3` transactions that have id 1 or 3
value.amount       |eq,gt,lt            | `transactions?filter=value.amount|gt|0` transactions that have amount higher than 0
transactionReason  |eq                  | `transactions?filter=transactionReason|eq|PAID_ORDER` transactions that were created as a result of order paid
direction          |eq                  | `transactions?filter=direction|eq|CREDIT` transactions by type, credit or debit
isExpired          |eq                  | `transactions?filter=isExpired|eq|0` transactions that are not expired
createdAt          |eq,gt,lt            | `transactions?filter=createdAt|lt|2019-04-10T19:42` transactions by datetime of creation

__Note:__ Filtering by datetime values does not require time to be set, but values of datetime that will not be filled in will be considered to have value of 0. Suppose we have 1 transaction that was created on May 5th, 1976, 04:35 o'clock. Filtering using `createdAt|eq|1976-05-05` term will yield no result, since the transaction was created after `1976-05-05T00:00`. Filtering using `createdAt|gt|1976-05-05` will return the transaction, as will filtering for `createdAt|lt|1976-05-05T04:36`.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[CoinTransaction], fixed-type, required)
        + pagingInfo (PagingInfo, optional)

# Group Rewards

## Partner promocode offers [/rewards/partnerPromocodes/offers]
Partner promocode offers available to customers

### Partner promocode offers [GET]

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
Resource does not support manual sorting, default sorting is by `priority descending, createdAt descending`.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name        | possible operators | example
---                | ---                | ---
id                 |eq,in               | `offers?filter=id|in|1,3` transactions that have id 1 or 3

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[BasicPartnerPromocodeOffer], fixed-type, required) - array of available promocode offers
        + pagingInfo (PagingInfo, optional)

## Partner promocode purchases [/rewards/partnerPromocodes/purchases/]

### Customer partner promocode purchase [POST]

+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + `promocodeId`: `10` (string, fixed-type, required) - pk of the offer the customer wishes to buy

+ Response 201 (application/json; charset=utf-8)
    + Attributes (PurchasedPartnerPromocodeOffer, required)

+ Response 422 (application/json; charset=utf-8)
Purchasing the key was not succesful
    + Attributes (Errors)


### Customer purchased partner promocodes list [GET]

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[PurchasedPartnerPromocodeOffer], fixed-type, required) - array of promocodes and keys purchased by the customer

# Data Structures

## Error (object)
+ code: `ERR_1000_SOME_ERROR_CODE` (string, required) - unique internal error code
+ message: `Some error/validation message description` (string, required) - human readable error description (non-localized)
+ severity (enum, required)
    + ERROR - critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code
    + WARN - non-critical error, execution can continue but further user interaction is advisable. This MIGHT be indicated also by appropriate HTTP status code
    + INFO - information only, execution can continue without user interaction
+ attribute: `personalBirthNumber` (string, optional) - json path of request attribute that caused the error (if applicable)
+ ticketId: `UAT1:AMS:20160516-091658.450:45e4` (string, optional) - internal ticket ID, used for error backtracking

## Errors (object)
+ errors (array[Error], fixed-type, required)

## OTPErrors (Errors)
+ otpValidTo: `2017-01-18T10:34:44+01:00` (string, required) - datetime of token validity

## PagingInfo (object)
+ itemsPerPage: 10 (number, required) - number of items per page
+ nextPage: `transactions?sort=category&limit=10&after=25` (string, optional) - request to retrieve next page, if it exists and can be unambiguously specified
+ prevPage: `transactions?sort=category&limit=10&before=25` (string, optional) - request to retrieve previous page, if it exists and can be unambiguously specified


## Amount (object)
+ amount: 12590 (number, required) - Amount in minor units (12590 represents 125,90 CZK) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ currency: `CZK` (string, required) - Amount currency. [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)

## Promocode (object)
+ code: `MALL1SAW3S0M3` (string, required) - Promo code key applied on order.
+ discountPrice (Amount, required) - Promo code discount price of order


## HistoryAmount (object)
+ amount: 12590 (number, optional, nullable) - Amount in minor units (12590 represents 125,90 CZK) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ currency: `CZK` (string, optional, nullable) - Amount currency. [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)


## VatAmount (Amount)
Financial amount with VAT rate.

### Properties
+ vatRate: 15 (number, required) - VAT rate as natural number (15 represents 15% rate)


## HistoryVatAmount (HistoryAmount)
Financial amount with VAT rate.

### Properties
+ vatRate: 15 (number, optional, nullable) - VAT rate as natural number (15 represents 15% rate)


## TokenCodeRequest (object)
+ grant_type: `authorization_code` (enum, required) - grant flow type, only `authorization_code` and `refresh_token` is supported
    + `authorization_code` - use to exchange code for access token
    + `refresh_token` - can be used to get new access token instead of forcing user to login again
+ client_id: `my_app_id` (string, required) - client_id parameter of your application, received at application registration
+ client_secret: `my_app_secret` (string, required) - client_secret parameter of your application, received at application registration
+ One Of
    + code: `12254a1124` (string, required) - authorization code, received from authorization server
    + refresh_token: `12254a1124` (string, required) - refresh token, received from authorization server

## TokenResponse (object)
+ refresh_token: `7dbadd74c434439db4fc9b2bbf8cabb3` (string, optional) - refresh token, if supported
+ token_type: `bearer` (string, required) - token type. Always "bearer".
+ access_token: `ccafe62cbce645ce95b2acce839f4acc` (string, required) - access token, to be included in API request
+ expires_in: 7200 (number, required) - access token validity, in seconds
## PhoneNumber (object)
+ phoneType: `PRIMARY` (enum, required) - type of phone
    + `PRIMARY` - primary (verified) mobile number (can be `CONTACT` at the same time)
    + `CONTACT` - contact  mobile number
    + `MOBILE` - not primary nor contact mobile number
    + `PHONE` - not primary nor contact phone number
+ countryCode: `+420` (string, optional) - country code, including leading `+`
+ number: `123456789` (string, required) - phone number

## Email (object)
+ type: `PRIMARY_EMAIL` (enum, required) - type of email
    + `PRIMARY_EMAIL`
    + `CONTACT_EMAIL`
+ address: `john.doe@gmail.com` (string, required) - e-mail address

## Address (object)
+ streetAddress: `Na Pankraci` (string, required) - street
+ streetNumber: `5` (string, required) - street number
+ city: `Prague` (string, required) - city
+ zip: `14000` (string, required) - postal code
+ addressType: `CONTACT` (enum, required) - type of address
    + CONTACT - contact address
    + BILLING - billing address
    + PERMANENT - permanent (residential) address, according to identity document
    + DELIVERY - delivery address
    + COURIER - address, where courier should arrive to verify the customer
+ country: `CZ` (string, required) - ISO code of country

## IdentityDocument (object)
+ number: `123456748` (string, required) - identity document number
+ issueDate: `2014-02-10` (string, optional) - identity document issue date
+ validity: `2024-02-10` (string, required) - identity document valid to date
+ type (enum, required) - identity document type
    + `ID_CARD`
    + `PASSPORT`
+ countryIssuedId: `CZ` (string, required) - country that issued the document, ISO 3166 alpha 2 country code

## AccountUpgradeApplicationRequest (object)
+ type (RevolvingLoanContractType, optional)
+ firstName: `John` (string, optional) - user first (given) name
+ lastName: `Doe` (string, optional) - user family name
+ addresses (array[Address], fixed-type, optional) - client addresses (permanent and delivery)
+ identityDocument (IdentityDocument, optional) - client identity document
+ personalId: `8808308234` (string, optional) - birth number
+ residencePermit (boolean, optional) - residence permit in case of non-Czech citizens
+ gender (enum, optional)
    + `MALE`
    + `FEMALE`
+ dateOfBirth: `1994-02-10` (string, optional) - date of birth in case of non-Czech citizens
+ placeOfBirth: `CZ` (string, optional) - ISO 3166 alpha 2 country code
+ consents (array) - List of consents given by customer
+ typeOfHousing (enum, optional) - type of accommodation
    + OWN
    + RENT
    + MUNICIPAL_HOUSING
    + PARENTS
    + OTHER
+ dependants (enum, optional) - how many people are dependent on client's income
    + ZERO
    + ONE
    + TWO
    + THREE
    + FOUR_AND_MORE
+ sourceOfIncome (enum, optional) - primary source of income
    + EMPLOYMENT
    + MATERNITY_LEAVE
    + SELF_EMPLOYED
    + RETIREMENT
    + OTHER
+ trialPeriod (boolean, optional) - trial period in case of employment source of income
+ companyName: `Some Super Company` (string, optional) - name of company
+ companyRegistrationNumber (string, optional) - ICO in case of self-employed source of income
+ monthlyNetIncome (Amount, optional) - net income amount per month (for all income sources but self-employed)
+ quarterlyGrossIncome (Amount, optional) - gross income amount per three months (for self-employed income source)
+ monthlyLoanExpenses (Amount, optional) - loan expenses per month
+ monthlyRegularExpenses (Amount, optional) - regular expenses per month (food, accommodation, etc.)
+ bankStatements (array[BankStatementDocument], optional)
+ cardLimitSelected (Amount, optional) - card limit chosen by customer
+ accountingSystem (enum, optional) - required in case of self-employed source of income
    + TAX_RECORD
    + DOUBLE_ENTRY
    + PERCENT_FROM_INCOME
+ scopeOfBusiness (enum, optional) - required in case of self-employed source of income
    + CRAFTING
    + FARMING
    + RETAIL
    + BOUND
    + FINANCE
    + REAL_ESTATE
    + TRANSPORT
    + RESTAURANT
    + MILITARY
    + INDEPENDENT
    + MEDICINE
    + PROFESSIONS
    + ACCOUNTING
    + OTHERS
+ startOfBusiness: `1994-02-10` (string, optional) - since when is the business running, required in case of self-employed source of income
+ lengthOfMaternityLeave (enum, optional) - required in case of maternity leave source of income
    + LESS_THAN_ONE_YEAR
    + ONE_TO_TWO_YEARS
    + TWO_TO_THREE_YEARS
    + THREE_AND_MORE_YEARS
+ otpCode (string, optional) - SMS code to sign the contract
+ kycIdentificationMethod (enum, optional) - how the client's identity will be verified
    + BANK_BUSINESS_CARD
    + COURIER
    + OFFICE
+ courierArrivalDate: `2019-01-01` (string, optional) - date when courier should arrive to verify the customer
+ bankBusinessCardReturnUrl: `https://www.mallpay.cz/application` (string, optional) - Callback URL after redirection from Bank Business Card.

## AccountUpgradeApplicationSlug (enum)
+ CUSTOMER_INFORMATION_CONTACT
+ CUSTOMER_INFORMATION_ADDRESS
+ CUSTOMER_INFORMATION_ID
+ CUSTOMER_INFORMATION_TYPES_OF_HOUSING
+ CUSTOMER_INFORMATION_DEPENDANTS
+ INCOME_AND_EXPENSES_SOURCE_OF_INCOME
+ INCOME_AND_EXPENSES_INCOME_CONFIRMATION
+ SCORING_LOADING
+ CONFIRMATION_LIMIT
+ CONFIRMATION_INCOME_STATEMENT_UPLOAD
+ CONFIRMATION_IDENTIFICATION
+ BANK_BUSINESS_CARD_VERIFICATION_FAILED
+ CONFIRMATION_AGREEMENT_SMS
+ COMPLETED
+ CANCELLED
+ DECLINED_GENERAL
+ DECLINED_SCORING_REGISTERS
+ TECHNICAL_ERROR

## BankBusinessCardRedirectionLogin (object)
+ bic (enum, required) - BIC of bank
    + AIRACZPP
    + GIBACZPX
    + EQBKCZPP
    + AGBACZPP
+ url (string, required) - URL where is the user redirected to log-in and authenticate to the bank

## AccountUpgradeApplicationResponse (AccountUpgradeApplicationRequest)
+ email (string, optional) - client e-mail address
+ phoneNumber (string, optional) - client phone number
+ bankStatementMonth: `4` (number, optional) - number between 0 and 11 (0 - January, 11 - December), represents the month for which non self-employed customer must provide bank statement
+ bankStatementYear: `2019` (number, optional) - number representing the year for which non self-employed customer must provide bank statement
+ cardLimitMaxAllowed (Amount, optional) - card limit allowed
+ bankBusinessCard (array[BankBusinessCardRedirectionLogin], optional)
+ slug (AccountUpgradeApplicationSlug, optional) - current view with form which should be displayed
+ isCourierFinished (boolean, optional) - information, whether the identification by courier is already finished. In combination with type and isContractActive fields this field determines, which screen should be displayed in case COMPLETED slug is returned.
+ isContractActive (boolean, optional) - information, whether the account was successfully upgraded and related contract activated. In combination with type and isCourierFinished fields this field determines, which screen should be displayed in case COMPLETED slug is returned.
+ unsignedContractHtml (string, optional) - unsigned contract in escaped HTML

## RevolvingLoanContractType (enum)
+ PLUS
+ PLUS_WITH_CARD
+ COMPLETE

## RevolvingLoanContract (object)
+ type (RevolvingLoanContractType, required)
+ state: `ACTIVE` (enum, required) - state of loan or application
    + `PROCESSING`
    + `WAITING_FOR_SIGNATURE`
    + `CANCELLED_BEFORE_SIGNING`
    + `SIGNED`
    + `ACTIVE`
    + `RESIGNED`
+ cancellationReason (enum, optional, nullable)
    + `BACKOFFICE`
    + `CUSTOMER`
+ availableAmount (Amount, required) - available amount of revolving loan
+ totalLimit (Amount, required) - total limit amount of revolving loan

## Billing (object)
+ id: `378` (string, required) - billing id
+ balance (Amount, required) - billing balance
+ dueDate: `2020-05-20` (string, required) - billing due date
+ month: `4` (number, required) - month of the billing, 0 represents January, 1 - February
+ year: `2020` (number, required) - year of the billing
+ isPaid (boolean, required) - information, whether the billing was paid or not
+ coinReward (CoinAmount, required) - Amount of coins, which customer get for paying the billing
+ paymentAvailability (PaymentAvailability, required) - information about possibility to pay for the billing
+ defermentInfo (DefermentInfo, required) - information about possibilities for defer the billing payment

## DefermentInfo (object)
+ state: `AVAILABLE` (enum, required) - state of deferment
    + `AVAILABLE`
    + `UNAVAILABLE`
    + `WAITING_FOR_PAYMENT`
    + `SUCCESS`
+ mininum (Amount, required) - minimal amount, which must be paid in the monthly billing
+ maximum (Amount, required) - maximal amount, which can be paid in the monthly billing

## RevolvingTransaction (object)
+ id: `2070` (string, required) - transaction id
+ amount (Amount, required) - transaction amount in the currency of the card account
+ type: `CARD_TRANSACTION_DOMESTIC` (enum, required) - transaction type
    + `CARD_TRANSACTION_DOMESTIC` - domestic card transaction
    + `CARD_TRANSACTION_ABROAD` - card transaction from abroad
    + `CARD_ATM_WITHDRAWAL_DOMESTIC` - domestic withdrawal from ATM
    + `CARD_ATM_WITHDRAWAL_ABROAD` - withdrawal from ATM abroad
    + `CARD_ONLINE_TRANSACTION` - online transaction
    + `DEFERRED_PAYMENT` - deffered payment
    + `DEFERRED_BILLING_PAYMENT` - deffered payment for billing
    + `FEE` - fee
+ createdDate: `2020-05-20` (string, required) - date, on which transaction was created
+ postingDate: `2020-05-21` (string, optional) - date, on which transaction was posted
+ referenceNumber (string, optional) - transaction reference number
+ billingId: `189` (string, required) - billing id transaction belongs to
+ description (string, optional) - transaction description
+ fees (array[TransactionFee], optional) - array of fees related to the transaction
+ additionalInfoCard (RevolvingTransactionInfoCard, optional) - card payment additional info (card number, mcc and merchant name)
+ additionalInfoForeign (RevolvingTransactionInfoForeign, optional) - foreign payment additional info (original amount and exchange rate)
+ additionalInfoApplication (RevolvingTransactionInfoApplication, optional) - application additional information for transaction related to deffered payment

## TransactionFee (object)
+ amount (Amount, required) - fee amount
+ code: `0` (number, optional) - fee transaction code
+ type: `CARD_ATM_WITHDRAWAL` (enum, required) - fee type
    + `CARD_ATM_WITHDRAWAL` - fee for ATM withdrawal
    + `OTHER` - other fee type
+ description (string, optional) - fee description

## RevolvingTransactionInfoCard (object)
+ maskedPan:`123456******1234` (string, required) - masked PAN of the card
+ mcc: `3081` (string, optional) - merchant category code
+ merchantName: `A3 Sport Palladium` (string, optional) - merchant name
+ merchantCity: `Praha1` (string, optional) - merchant city
+ merchantCountry: `CZ` (string, optional) - merchant country

## RevolvingTransactionInfoForeign (object)
+ sourceAmount (Amount, required) - transaction amount in the original currency
+ exchangeRate: `26.5` (string, required)- exchange rate, which is calculated as amount / sourceAmount, the number can have 8 decimal places

## RevolvingTransactionInfoApplication (object)
+ applicationId (string, required) - application id
+ orderState: `REJECTED` (enum, required) - order state
    + `RETURNED` - returned order
    + `REJECTED` - rejected order
    + `CANCELLED` - cancelled order
    + `OTHER` - other order states not relevant for customer (eg. approved, sent or delivered)
+ partnerName (string, required) - partner name
+ partnerLogo (File, optional) - partner logo

## Client (object)
+ id: `12345` (number, required) - internal customer ID
+ name (object, required)
    + titleBefore: Ing. (string, optional) - academical degree before name
    + titleAfter: PhD. (string, optional) - academical degree behind name
    + firstName: John (string, required) - user first (given) name
    + middleNames: Peter, Frank (array[string], optional) - middle names
    + lastName: Doe (string, required) - user family name
+ fullName: `Ing. John Petetr Frank Doe, PhD.` (string, optional) - client full name
+ salutation: Mr. (string, optional, nullable) - salutation, e.g. Mr. or Mrs.
+ gender: `MALE` (enum, required)
    + `MALE`
    + `FEMALE`
+ birthDate: `1978-02-15` (string, required) - date of birth
+ addresses (array[Address], fixed-type, optional) - client addresses (permanent, delivery, courier)
+ phoneNumbers (array[PhoneNumber], fixed-type, required) - client phone numbers
+ emails (array[Email], fixed-type, required) - client e-mail addresses. Can be empty array. There can be only one email of given type.
+ facebookUserId: `1837454442945293` (string, optional) - client's facebook user id
+ username: `memyself@mine.com` (string, required) - client's self care zone username
+ hasSetPassword (boolean, required) - indicates whether the client has set password or not. Ie. user registered via Facebook has `hasSetPassword` as `false`.


## Contract (object)
+ contractNumber: `12345678` (string, required) - ID of a contract
+ applicationCreatedAt: `2016-01-01` (string, required) - date when application was created
+ name: `Tesco karta` (string, required) - human-readable contract (product) name
+ contractType: `CEL` (enum, required) - contract type
   + `CEL` - Close End Loan
   + `REL` - Revolving Loan
   + `DEFPAY` - deferred payment
+ status: `ACTIVE` (enum, required) - status of contract
    + `PROCESSING` - contract is approved
    + `ACTIVE` - contract is active (DEFPAY user is not banned and active)
    + `FINISHED` - contract has been closed (DEFPAY user is banned or inactive)
    + `CANCELLED` - contract has been cancelled
+ currentDebt (Amount, required) - sum of overdue installments to date (DEFPAY sum of application debts in closest due date)
+ overdueInstallmentsCount: 2 (number, required) - number of overdue installments to date
+ currentInstallment (Amount, optional) - current installment amount  (DEFPAY sum of application claims in closest due date)
+ currentInstallmentDueDate: `2017-10-13` (string, optional) - current installment due date (DEFPAY closest application due date)
+ currentDPD: 8 (number, optional) - current days past due of contract (DEFPAY closest application DPD)
+ One Of
   + DEFPAYAdditionalInfo (object, required)
        + availableCreditBalance (Amount, required) - available credit balance of an account
        + creditLimit (Amount, fixed-type, required) - credit limit amount of an account


## HistoryContract (object)
+ contractNumber: `12345678` (string, required) - ID of a contract
+ applicationCreatedAt: `2016-01-01` (string, required) - date when application was created
+ status: `ACTIVE` (enum, required) - status of contract
    + `PROCESSING` - contract is approved
    + `ACTIVE` - contract is active (DEFPAY user is not banned and active)
    + `FINISHED` - contract has been closed (DEFPAY user is banned or inactive)
    + `CANCELLED` - contract has been cancelled


## AccountNumber (object)
+ One Of
    + Properties
        + `iban`: `CZ123456789` (string, required) - account number in IBAN format
        + `bic`: `AIRACZPP` (string, optional) - BIC for account
    + Properties
[...]
