FORMAT: 1A
HOST: https://api.client.mallpay.cz/customer/v1

# Self-care API

**Base prefix: /customer/v1**.

# Group My Data
Resources handling information about currently logged-in user. You need valid client [OAuth2 access token](#header-authentication) to access these resources.

# Group Account management
Resource group for managing customer's account.

## Customer login [/account/login]

### Login customer [POST]
Use this endpoint to obtain the access token. There are two possible ways to log in:

#### Classic login
Provide `username` and `password`. `otpCode` may be required for some security reasons.

+ Request customer without revolving account login (application/json; charset=utf-8)
    + `username`: `joe.doe@example.com` (enum, required)
    + `password`: `1234567` (enum, required)

+ Response 200 (application/json; charset=utf-8)
    Access token issued.
    + Attributes (CustomerLoginResult)

+ Request OTP code (application/json; charset=utf-8)
    + `username`: `joe.doe@example.com` (enum, required)
    + `password`: `1234567` (enum, required)

+ Response 480 (application/json; charset=utf-8)
    OTP code sent to customer's phone.
    + Attributes (OTPErrors)

+ Request resend OTP code (application/json; charset=utf-8)
    Request to resend OTP.
    + Attributes (OTPResendRequest)
        + `username`: `joe.doe@example.com` (enum, required)
        + `password`: `1234567` (enum, required)

+ Response 480 (application/json; charset=utf-8)
    OTP has been sent
    + Attributes
        + OTPErrors

+ Request login when OPT required (application/json; charset=utf-8)
    + Attributes  (OTPCodeRequest)
        + `username`: `joe.doe@example.com` (enum, required)
        + `password`: `1234567` (enum, required)

+ Response 200 (application/json; charset=utf-8)
    Access token issued.
    + Attributes (CustomerLoginResult)

+ Response 422 (application/json; charset=utf-8)
    Returned when the `otpCode` authorization does not match.
    + Attributes (Errors)

#### Facebook login
Provide `facebookAccessToken`.

#### Mobile app token login
Provide `mobileToken`.

+ Request (application/json; charset=utf-8)
    + Attributes (CustomerLogin)

+ Response 200(application/json; charset=utf-8)
    Access token issued.
    + Attributes (CustomerLoginResult)

+ Response 422(application/json; charset=utf-8)
    Unable to authenticate the customer. List of error codes special for this endpoint:
    - `CONNECTION_ERROR` - Unable to connect to Facebook or invalid Facebook access token.
    - `INVALID_FACEBOOK_LOGIN` - The Facebook account is not linked to any MALL Pay account. Immediate registration is possible.
    - `INVALID_LOGIN` - Username or password is wrong.
    - `INVALID_MOBILE_LOGIN` - Mobile login token is invalid.
    + Attributes (Errors)

## Customer logout [/account/logout]
Use this resource to invalidate existing token, which in effect logs out the customer.

### Invalidate existing token [DELETE]
+ Request (application/json; charset=utf-8)

+ Response 204 (application/json; charset=utf-8)
    Logout successful.
    + Body

+ Response 403 (application/json; charset=utf-8)
    Customer is not logged in.
    + Attributes (Errors)

## Mobile login token management [/account/mobileToken]
Use this endpoint to generate new `mobileToken` for specified device, used for login in biometric login services. `deviceUuuid` can have variable length (of maximum length 32 characters) with combination of alphanum letters.

### Generate new token [POST]
Use this endpoint to get new mobile login token:
+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + deviceUuid: `a5d46273922540caa2432359367abc5c` (string) - Device UUID.

+ Response 200
    Mobile login token issued.
    + Attributes (CustomerMobileTokenResult)

+ Response 422 (application/json; charset=utf-8)
    Unable to generate a new mobile token:
    - `UUID_NOT_VALID` - UUID provided is not in valid format.
    - `TOKEN_FOR_SAME_UUID_EXISTS` - Mobile token for given UUID already exists. In order to generate a new token one must delete the old token first.
    + Attributes (Errors)

## Mobile login token removal [/account/mobileToken/{deviceUuid}]
Use this endpoint to delete mobile token for specified device, used for login in biometric login services.

### Remove mobile token [DELETE]
Entry of mobile token with given `deviceUuid` will be removed. This combination of `deviceUuid` and `mobileToken` will no longer work to log in.
+ Request (application/json; charset=utf-8)
    + Parameters
        + deviceUuid: `deviceuuid123456789` (string, required) - Device UUID

+ Response 204
    Mobile token asociated with given `deviceUuid` was removed.
    + Body
    
+ Response 404 (application/json; charset=utf-8)
    Device UUID not found.
    + Attributes (Errors)

+ Response 404 (application/json; charset=utf-8)
    Token with given UUID does not exist.
    + Attributes (Errors)

+ Request (application/json; charset=utf-8)
    + Parameters
        + deviceUuid: `bad$device&uuid*format` (string, required) - Bad format of Device UUID

+ Response 422 (application/json; charset=utf-8)
    Unable to find token:
    - `UUID_NOT_VALID` - UUID provided is not in valid format.
    + Attributes (Errors)

## Change password [/account/password]

### Set password [POST]
Use this endpoint to set password of a logged-in customer.
+ Request (application/json)
    + Attributes (object)
        + newPassword: `xt3hP58vouL61H40` (string, required) - New password.


+ Response 204
    Password change successful.
    + Body


+ Response 422 (application/json)
    Password change was not successful.
    - `PASSWORD_TOO_SHORT` - New password is too short.
    - `PASSWORD_NO_LOWERCASE_CHARACTER` - New password must contain lowercase character.
    - `PASSWORD_NO_UPPRECASE_CHARACTER` - New password must contain uppercase character.
    - `PASSWORD_NO_NUMERIC_CHARACTER` - New password must contain numeric character.
    + Attributes (Errors)


### Change password [PUT]
Use this endpoint to change password of a logged-in customer.
+ Request (application/json)
    + Attributes (object)
        + currentPassword: `f2FqYbmQZHXuPbdq` (string, required) - Customer's current password.
        + newPassword: `xt3hP58vouL61H40` (string, required) - New password.


+ Response 204
    Password change successful.
    + Body


+ Response 422 (application/json)
    Password change was not successful.
    - `CURRENT_PASSWORD_WRONG` - Current password is wrong.
    - `NEW_PASSWORD_EQUALS_CURRENT_PASSWORD` - New password is the same as the old password.
    - `PASSWORD_TOO_SHORT` - New password is too short.
    - `PASSWORD_NO_LOWERCASE_CHARACTER` - New password must contain lowercase character.
    - `PASSWORD_NO_UPPRECASE_CHARACTER` - New password must contain uppercase character.
    - `PASSWORD_NO_NUMERIC_CHARACTER` - New password must contain numeric character.
    + Attributes (Errors)


## Password set [/account/password/set]

### Password set [POST]
Use this endpoint to set a new password for:
* new customer (registration)
* existing customer (forgotten password)
+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + password: `f2FqYbmQZHXuPbdq` (string) - New password.
        + token: `a5d46273922540caa2432359367abc5c` (string) - Verification token.
        + consents (array) - List of consents given by customer
            + `REGISTRATION` - Consent with service terms and conditions
            + `MARKETING_EXTENDED` - Consent with extended marketing e-mails

+ Response 204
    Password set successful.
    + Body

+ Request Wrong data (application/json; charset=utf-8)
    + Attributes (object)
        + password: `f2FqYbmQZHXuPbdq` (string) - New password.
        + token: `nonsensetoken` (string) - Verification token.

+ Response 422(application/json; charset=utf-8)
    Password set was not successful.
    + Attributes (Errors)

+ Request Short password (application/json; charset=utf-8)
    + Attributes (object)
        + password: `f2FqYbmQZHXuPbdq` (string) - New password.
        + token: `short` (string) - Verification token.

+ Response 422(application/json; charset=utf-8)
    Password set was not successful.
    + Attributes (Errors)

## Request password reset [/account/password/reset]

### Request password reset [POST]
Use this endpoint to request a password reset. If the request is successful, a verification token will be generated and send to customer's e-mail address as a part of the password reset link. For security reasons, the response will not contain any information if the e-mail was actually sent.

+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + email: `john.doe@yahoo.com` (string) - Customer's e-mail address.
+ Response 204
    Password reset request successful.
    + Body

+ Request Wrong Fields (application/json; charset=utf-8)
    + Body
    ```
            {
            "string": "nonsense"
            }
    ```
+ Response 422 (application/json; charset=utf-8)
    Invalid input data.
    + Attributes (Errors)

+ Request No Data (application/json; charset=utf-8)
    + Body
+ Response 400 (application/json; charset=utf-8)
    Invalid input data.
    + Attributes (Errors)

+ Response 429 (application/json)
    Request throttling in effect.
    + Attributes (Errors)

+ Request Not Found (application/json; charset=utf-8)
    + Attributes (object)
        + email: `john.doe@yahoo.com` (string) - Customer's e-mail address.
+ Response 204 (application/json; charset=utf-8)


## Forgotten e-mail - TBD [/account/forgottenEmail]
Use this resource to remind the customer of his e-mail address (which is needed for login). The e-mail address will be sent to customer's phone via SMS. Customer does not need to be logged in to use this resource.

### Send e-mail address via SMS [POST]
+ Request (application/json)
    + Attributes (object)
        + phone: `+420607123456` (string) - Customer's phone in international format.


+ Response 204
    SMS with e-mail address sent successfully.
    + Body

+ Response 400 (application/json)
    Invalid input data.
    + Attributes (Errors)

+ Response 422 (application/json)
    SMS with e-mail address was not sent. Following errors codes are possible:
    * CUSTOMER_DOES_NOT_EXIST
    + Attributes (Errors)

## Resend registration e-mail [/account/resendRegistrationEmail]

### Resend registration e-mail [POST]
Use this resource to resend a registration e-mail to the customer. E-mail can be resent only in case it was already sent. For security reasons, the response will not contain any information if the e-mail was actually sent.
+ Request (application/json)
    + Attributes (object)
        + email: `john.doe@yahoo.com` (string) - Customer's e-mail address.

+ Response 204
    Registration e-mail was requested to be resent.
    + Body

+ Response 422 (application/json)
    Invalid input data.
    + Attributes (Errors)

+ Response 429 (application/json)
    Request throttling in effect.
    + Attributes (Errors)

## Register customer [/account/registration]

### Register a new customer [POST]
Use this resource to register a new customer. There are two ways of registration:

#### Classic registration
Provide `name`, `email` and `phone`.

#### Facebook registration
Provide `facebookAccessToken` and fields that cannot be retrieved from Facebook. The endpoint will indicate which fields are missing if you call it with `facebookAccessToken` only.

+ Attributes (object)
    + name: `John Doe` (string) - Customer's full name (first and last name).
    + email: `john.doe@yahoo.com` (string) - Customer's e-mail address.
    + phone: `+420777777777` (string) - Customer's phone in international format.
    + facebookAccessToken: `EAADcxbT9khgBAHkik7JGjl9ZCDsiV1TyWpVg4hpV6pUokIxYNPfxksp8S0lxAQz22hqehZBxKDxbZARvsfO9foUxj7uq5gGP3j7aLDCu9ZA9VjSobUU4UdadQUMHtxE2wv1uXxnSnST1SPjDi848VWrXQPkBolceCK5IWUvetVRttwdPrua4N1kVtB6V5uIZD` (string) - Facebook user access token.
    + consents  (array, required) - List of consents given by customer
        + `REGISTRATION` - Consent with service terms and conditions (required)
        + `MARKETING_EXTENDED` - Consent with extended marketing e-mails
    + promoSource: `referral:JNOVAK586` (string) - Contains either promo source URL part or referral code of referrer (should start with `referral:` prefix)
    + cjToken: `1234abcd` (string, optional) - CJEVENT affiliate token. It's obtained from URL parameters - ie. https://mallpay.cz/?cjevent=some-cute-code

+ Request classic registration with referral code (application/json; charset=utf-8)
    + Attributes (object)
        + name: `John Doe`
        + email: `john.doe@yahoo.com`
        + phone: `+420777777777`
        + consents
            + `REGISTRATION`
        + promoSource: `referral:JNOVAK586` (string) - referral code of referrer (customer who send registration link)

+ Response 200 (application/json; charset=utf-8)
    Customer has been registered.
    + Attributes (object)
        + result: `REGISTRATION_FINISHED` (enum, required) - Registration status.
            + `REGISTRATION_FINISH_REQUIRED` - Customer must finish registration by clicking on a link that has been sent to his e-mail address. Might be returned for both types of registration.

+ Request Facebook registration with promo source URL (application/json; charset=utf-8)
    + Attributes (object)
        + facebookAccessToken: `EAADcxbT9khgBAHkik7JGjl9ZCDsiV1TyWpVg4hpV6pUokIxYNPfxksp8S0lxAQz22hqehZBxKDxbZARvsfO9foUxj7uq5gGP3j7aLDCu9ZA9VjSobUU4UdadQUMHtxE2wv1uXxnSnST1SPjDi848VWrXQPkBolceCK5IWUvetVRttwdPrua4N1kVtB6V5uIZD`
        + phone: `+420777777777`
        + consents
            + `REGISTRATION`
        + promoSource: `advertisementYY` (string) - the tag of campaign which redirected the user here

+ Response 200 (application/json; charset=utf-8)
    Customer has been registered.
    + Attributes (object)
        + result: `REGISTRATION_FINISHED` (enum, required) - Registration status.
            + `REGISTRATION_FINISHED` - Registration is finished, immediate login is possible. Returned in case of Facebook registration only.
            + `REGISTRATION_FINISH_REQUIRED` - Customer must finish registration by clicking on a link that has been sent to his e-mail address. Might be returned for both types of registration.

+ Request classic registration with user already registered before (application/json; charset=utf-8)
    + Attributes (object)
        + name: `John Doe`
        + email: `john.doe@yahoo.com`
        + phone: `+420777777777`
        + consents
            + `REGISTRATION`

+ Response 422 (application/json; charset=utf-8)
    Customer has not been registered. List of error codes special for this endpoint:
    - `ALREADY_CONNECTED_NOT_FINISHED` - The Facebook account is already connected to an existing MALL Pay account, but customer must finish registration.
    - `ALREADY_CONNECTED` - The Facebook account is already connected to an existing MALL Pay account. Immediate login is possible.
    - `ALREADY_EXISTS` - MALL Pay account with this email/phone already exists.
    - `CONNECTION_ERROR` - Unable to connect to Facebook or invalid Facebook access token.
    - `EMAILS_DIFFER` - Facebook e-mail address differs from matched MALL Pay account e-mail address.
    + Attributes (Errors)

+ Request Facebook registration with many consequent calls (application/json; charset=utf-8)
    + Attributes (object)
        + facebookAccessToken: `EAADcxbT9khgBAHkik7JGjl9ZCDsiV1TyWpVg4hpV6pUokIxYNPfxksp8S0lxAQz22hqehZBxKDxbZARvsfO9foUxj7uq5gGP3j7aLDCu9ZA9VjSobUU4UdadQUMHtxE2wv1uXxnSnST1SPjDi848VWrXQPkBolceCK5IWUvetVRttwdPrua4N1kVtB6V5uIZD`
        + phone: `+420777777777`
        + consents
            + `REGISTRATION`

+ Response 429 (application/json; charset=utf-8)
    Request throttling in effect.
    + Attributes (Errors)

## Consents [/account/consents]
All consents user is able to subscribe and unsubscribe.

### Available consents [GET]
Get all aconsents a can be subscribed to. Allowed subscriptions are `MARKETING` and `MARKETING_EXTENDED`.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Consent], fixed-type, required)

### Change subscription of consents [PUT]
Subscribe or unsubscribe user to filtered consents. Requires user authorization or providing valid verification token as attribute.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | no
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

filter name | possible operators | example
---         | ---                | ---
slug        | eq                 | `consents?filter=slug|eq|MARKETING`  consent with slug `MARKETING`
slug        | in                 | `consents?filter=slug|in|MARKETING,MARKETING_EXTENDED`  consent with slugs `MARKETING` and `MARKETING_EXTENDED`

+ Attributes (object)
    + isSubscribed: `true` (boolean, required) - if is true it will add consents described in filter to the user otherwise it will remove them
    + token: `s5as4d5a6s54d5sa6asd56` (string, optional, nullable) - valid verification token used instead of user authorization

+ Request with authorized user (application/json)
    + Attributes (object)
        + isSubscribed: `true`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Consent], fixed-type, required)

+ Request with unauthorized user with valid token (application/json)
    + Attributes (object)
        + isSubscribed: `true`
        + token: `s5as4d5a6s54d5sa6asd56`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Consent], fixed-type, required)

+ Request with unauthorized user and invalid token (application/json)
    + Attributes (object)
        + isSubscribed: `true`
        + token: `invalid_token`

+ Response 422 (application/json)
    Unauthorized user and invalid verification token. Following errors codes are possible:
    * UNAUTHORIZED_AND_TOKEN_INVALID
    + Attributes (Errors)

+ Request unknown consent in filter (application/json; charset=utf-8)
    + Parameters
        + filter: `slug|eq|UNKNOWN_CONSENT`

+ Response 400 (application/json; charset=utf-8)
    + Attributes (Errors)

+ Request with bad filter format (application/json; charset=utf-8)
    + Parameters
        + filter: `wrong_filter_name|eq|MARKETING_EXTENDED`

+ Response 400 (application/json; charset=utf-8)
    + Attributes (Errors)

## Push notification devices [/account/push-notification-devices]
Push notification devices for customer.

### Register new device [POST]

+ Request (application/json)
    + Attributes (PushNotificationDeviceToken)

+ Response 204 (application/json; charset=utf-8)

+ Response 422 (application/json; charset=utf-8)
    Push notification device already exists. Following codes are possible.
    * PUSH_NOTIFICATION_DEVICE_EXISTS
    + Attributes (Errors)

## Push notification devices detail [/account/push-notification-devices/{type}/{token}]
Customer push notification device detail.

+ Parameters
    + token (string, required) - Actual token of the device
    + type (enum, required) - Type of the device
        + `ANDROID`
        + `IOS`

### Unregister a device [DELETE]

+ Request (application/json)

+ Response 204 (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    Push notification device does not exist.
    + Attributes (Errors)

+ Response 422 (application/json; charset=utf-8)
    Supplied type of device is invalid. Following errors codes are possible:
    * INVALID
    + Attributes (Errors)

## Referral promo code stats [/account/referral/stats]

### Get referral code stats [GET]
Get referral code information of the customer.

+ Request (application/json; charset=utf-8)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (ReferralCodeStats, required)

## Referral promo code stats by key [/account/referral/{key}/stats]
Referral promo code information found by key of promo code from customer.

+ Parameters
    + key: `JOEDOE123` (string, required) - referral promo code key

### Get referral code stats by key [GET]
Get referral code information by promo code key provided. No authorization is required.

+ Request (application/json; charset=utf-8)
    + Parameters
        + key: `JOEDOE123`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (ReferralCodeStats, required)

+ Request (application/json; charset=utf-8)
    + Parameters
        + key: `INVALID_KEY`

+ Response 404 (application/json; charset=utf-8)

        Promo code with given key not found.

    + Attributes (Errors)

## Referral reward codes [/account/referral/rewards]

### Get referral reward codes received [GET]
Get reward promo codes customer received for each new customer (referee).

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (array[ReferralRewardCodesReceived], required)

# Group Product
Management of applications, services, rewards or billings, transactions and cards from revolving loan.

## Customer account and contract information [/my/contract]
Data of current account or revolving loan contract depending on customer's account type.

### Display contract data [GET]
Returns data of current limits and and eventually loan contract of logged-in user.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Contract, required)

## Applications [/my/contract/application]
Applications of logged-in user. The resource providing applications is also running at obsolete URL `/my/contracts/{contractNumber}/applications`.

### Applications of logged-in user[GET]
Get a list of applications of logged-in user.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
TBD.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name     | possible operators | example
---             | ---                | ---
originBillingId |eq                  | `applications?filter=originBillingId|eq|378` applications that was approved at specific billing
originBillingId |isnull              | `applications?filter=originBillingId|isnull|true` applications that was not approved on revolving
isClosed        |eq                  | `applications?filter=isClosed|eq|true` applications that is closed and cannot be shown on the main page

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Application], fixed-type, required)
        + pagingInfo (PagingInfo, required)

## Application detail [/my/contract/application/{applicationId}]
Specific application. The resource providing application data is also running at obsolete URL `/my/contracts/{contractNumber}/applications/{applicationId}`.

+ Parameters
    + applicationId: `a7718` (string, required) - ID of application

### Application detail [GET]
Get details of one application.

+ Request  (application/json; charset= utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application

+ Response 200 (application/json; charset=utf-8)
    Existing application
    + Attributes (Application)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

### Cancel application [DELETE]
Cancel application processing.

+ Request  (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application

+ Response 204 (application/json; charset=utf-8)
    Application processing was cancelled.
    + Body

+ Request Invalid application state (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application

+ Response 422 (application/json; charset=utf-8)
    Application cannot be cancelled.
    + Attributes (Errors)

+ Request non existent application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application cannot be cancelled.
    + Attributes (Errors)

## Application transactions [/my/contract/applications/{applicationId}/transactions]
Specific application.

+ Parameters
    + applicationId: `a7718` (string, required) - ID of application

### Transactions of application [GET]
Get financing transactions of one application.

+ Request  (application/json; charset= utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[ApplicationTransaction], fixed-type, required) - List of transactions for application of logged-in user
        + pagingInfo (PagingInfo, required)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

## Application transaction detail [/my/contract/applications/{applicationId}/transactions/{transactionId}]
Detail of transaction for application of logged-in user.

+ Parameters
    + applicationId: `a7718` (string, required) - ID of application
    + transactionId: `5425` (string, required) - ID of application transaction

### Transaction detail of application [GET]
Get detail of application transaction

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (ApplicationTransaction)

+ Request Non-existing transaction (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
        + transactionId: `this_is_no_transaction` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Transaction not found.
    + Attributes (Errors)

## Promo codes [/my/contract/application/{applicationId}/applyPromocode]
Customer can apply for discount price by submitting promo code. The resource is also running at obsolete URL `/my/contracts/{contractNumber}/applications/{applicationId}/applyPromocode`.

+ Parameters
    + applicationId: `a7718` (string, required) - ID of application

### Submit promo code [POST]

+ Request  (application/json; charset= utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + code: `MALL1SAW3S0M3` (string, required) - promo code key

+ Response 200 (application/json; charset=utf-8)
    Existing application and valid applicable promo code
    + Attributes (Application)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application
    + Attributes (object)
        + code: `MALL1SAW3S0M3` (string, required) - promo code key

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

+ Request Invalid promo code (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + code: `this_is_invalid_key` (string, required) - promo code key

+ Response 422 (application/json; charset=utf-8)
    Promo code is invalid or expired.
    + Attributes (Errors)

## Application item services [/my/contract/application/item]
Services on given application items. The resource providing services is also running at obsolete URL `/my/contracts/{contractNumber}/application/item`.

feature                       | supported by resource
---                           | ---
[paging](#header-paging)      | yes
[sorting](#header-sorting)    | no
[filtering](#header-filtering)| yes

#### Paging
This resource supports [paging](#header-paging). As a value to `before` and `after` parameters, use `Id` attribute.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
data             |in,eq               | `item?filter=data|eq|list_of_item_ids` only items in "list_of_item_ids"
service_active   |in,eq               | `item?filter=service_active|eq|true` only items with active services


### List of application items with services [GET]
Getting list of application item services

+ Response 200 (application/json, charset=utf-8)
    + Attributes (object)
        + `data` (array[Item], required) - List of application order items

## Purchasing services for application items [/my/contract/application/item/service/{serviceId}/purchase]
Purchasing Services on given application items. The resource is also running at obsolete URL `/my/contracts/{contractNumber}/application/item/service/{serviceId}/purchase`.

+ Parameters
    + serviceId: `service-adp` (string, required) - ID of the service

### Purchasing services for application items [POST]
Allows ordering of the service based on previous offer

+ Request (application/json; charset=utf-8)
    Correct request.
    + Parameters
        + serviceId: `service-adp` (string, required) - ID of the service

+ Response 204 (application/json; charset=utf-8)

+ Request Non-existing service (application/json; charset=utf-8)
    + Parameters
        + serviceId: `this_service_does_not_exist` (string, required)

+ Response 404 (application/json; charset=utf-8)
    Service not found.
    + Attributes (Errors)

## Purchasing rewards for application [/my/contract/application/{applicationId}/reward]
Purchasing Rewards on given application items. The resource is also running at obsolete URL `/my/contracts/{contractNumber}/application/{applicationId}/rewards`.

+ Parameters
    + applicationId: `application_id` (string, required) - ID of application

### Purchasing rewards for application order items [POST]
Allows purchasing/ordering of the reward based on info in an application

+ Request (application/json; charset=utf-8)
    Correct request.
    + Parameters
        + applicationId: `application_id` (string, required) - ID of service
    + Attributes
        + type: `FREE_DELIVERY` (enum, required) - type of reward to purchase
            + FREE_DELIVERY
            + SERVICE_DISCOUNT
        + itemId (string, required) - (TODO: business logic is currently not using this ID (will be required for type FREE_DELIVERY in future).)
        + serviceId (string, optional, nullable) - Id of service to purchase reward for

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Application)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application
    + Attributes (object)
        + type: `FREE_DELIVERY` (enum, required) - reward type
        + itemId (string, required)

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

+ Request Invalid reward type (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + type: `this_is_invalid_reward_type` (enum, required) - invalid enum value
        + itemId: `item-id` (string, required)

+ Response 422 (application/json; charset=utf-8)
    Reward not found.
    + Attributes (Errors)

+ Request Cannot apply rewards (application/json; charset=utf-8)
    Request is correct but the reward has already been applied or customer does not have enough coins, etc.
    + Parameters
        + applicationId: `service-adp` (string, required) - ID of service
    + Attributes
        + type: `FREE_DELIVERY` (enum, required) - type of reward to purchase
        + itemId: `itemId` (string, required)

+ Response 422 (application/json; charset=utf-8)
    + Attributes (Errors)

## Request account upgrade [/my/contract/revolvingApplication]
Use this resource to manage customer's requests for upgrading his account type.

### Create account upgrade request [POST]
Use this endpoint to create a new account upgrade request for a logged-in user. The revolving loan application will be created for given type. There should be no existing application.

+ Request Start application process for START account type (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + type: `START`

+ Response 201 (application/json; charset=utf-8)
    Revolving loan application in progress.
    + Attributes (AccountUpgradeApplicationResponse)
        + type: `START`
        + slug: `CUSTOMER_INFORMATION_CONTACT`

+ Request Start application process without specifying account type (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)

+ Response 422 (application/json; charset=utf-8)
    Contract type must be specified.
    + Attributes (Errors)

+ Request Starts new application (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + type: `START`
        + slug: `CUSTOMER_INFORMATION_CONTACT`

+ Response 403 (application/json; charset=utf-8)
    Returned in cases, where the premium account cannot be applied - i.e. another application in progress, account blocked or has unpaid order after due date, for example.
    + Attributes (Errors)

### Update application of account upgrade request [PATCH]
The request will modify the most recent application in progress.

+ Request Updating application which does not exist (application/json; charset=utf-8)
    + Attributes (object)
        + firstName: `John`

+ Response 404 (application/json; charset=utf-8)
    No application in progress for account upgrade exists.
    + Attributes (Errors)

+ Request Providing new data for the next step (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + firstName: `John`
        + lastName: `Doe`

+ Response 200 (application/json; charset=utf-8)
    Revolving loan application in progress. Next slug `CUSTOMER_INFORMATION_ADDRESS` returned inside body.
    + Attributes (AccountUpgradeApplicationResponse)
        + type: `START`
        + slug: `CUSTOMER_INFORMATION_ADDRESS`
        + firstName: `John`
        + lastName: `Doe`

+ Request with customer younger than 18 years old (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + dateOfBirth: `2020-01-01`

+ Response 422 (application/json; charset=utf-8)
    The Error return code returned in this case (customer younger that 18) is `UPGRADE_UNAVAILABLE`.
    + Attributes (Errors)

+ Request Bank business card indentification method (application/json; charset=utf-8)
    + Attributes (AccountUpgradeApplicationRequest)
        + kycIdentificationMethod: `BANK_BUSINESS_CARD`

+ Response 200 (application/json; charset=utf-8)
    Bank business card API is called from the backend. Returns back to client information about supported banks (BIC) and URL which are used to render login page to bank account.
    + Attributes (AccountUpgradeApplicationResponse)
        + bankBusinessCard (array, optional)
            + (object)
                + bic: `EQBKCZPP`
                + url: `http://example.com/redirect/connect?redirectId=f277a779-58cf-446c-a163-3ba1c77134ef&bic=eqbkczpp`
            + (object)
                + bic: `AIRACZPP`
                + url: `http://example.com/redirect/connect?redirectId=f277a779-58cf-446c-a163-3ba1c77134ef&bic=airaczpp`

+ Request Invalid proof of income file content (application/json; charset=utf-8)
    + Attributes (object)
        + bankStatements (array[RevolvingLoanDocument])

+ Response 422 (application/json; charset=utf-8)
    File content was evaluated as not supported file type

    + Body

            {
                "errors": [{
                    "message": "Obsah souboru musí být formátu base64",
                    "severity": "ERROR",
                    "attribute": "file.content",
                    "code": "INVALID"
                }]
            }


+ Request Self-employed customer uploads only one proof of income document (application/json; charset=utf-8)
    + Attributes (object)
        + sourceOfIcome: `SELF_EMPLOYED`
        + companyRegistrationNumber: `ABCDE12345`
        + bankStatements (array, RevolvingLoanDocument)
            + file (RevolvingLoanDocument)

    + Body

            {
                "sourceOfIncome: "SELF_EMPLOYED",
                "companyRegistrationNumber": "ABCDE12345,
                "bankStatements": [{
                    "file": {
                        "filename": "doklad1.pdf",
                        "content": "RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw=="
                    }
                }]
            }

+ Response 422 (application/json; charset=utf-8)
    Self-employed customer should provide exactly three proof of income documents.
    + Attributes (Errors)

    + Body

            {
                "errors": [
                    {
                        "message": "OSVČ musí poskytnout právě tři doklady o příjmu.",
                        "severity": "ERROR",
                        "attribute": "bankStatements",
                        "code": "INVALID"
                    }
                ]
            }

+ Request Non self-employed customer uploads more than one proof of income documents (application/json)
    + Attributes (object)
        + sourceOfIcome: `EMPLOYMENT`
        + trialPeriod: `False`
        + bankStatements (array, RevolvingLoanDocument)
            + file (RevolvingLoanDocument)

    + Body

            {
                "sourceOfIncome": "EMPLOYMENT",
                "trialPeriod": false,
                "bankStatements": [{
                    "file": {
                        "filename": "doklad1.pdf",
                        "content": "RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw=="
                    }
                },
                {
                    "file": {
                        "filename": "doklad2.pdf",
                        "content": "RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw=="
                    }
                }
                ]
            }
+ Response 422
    Non self-employed customer should provide exactly one proof of income document.
    + Body

            {
                "errors": [{
                    "message": "Osoba, která není OSVČ, musí poskytnout právě jeden doklad o příjmu.",
                    "severity": "ERROR",
                    "attribute": "bankStatements",
                    "code": "INVALID"
                }]
            }

+ Request Signing contract - request to send OTP (application/json; charset=utf-8)
    The attribute `slug` must be set to `CONFIRMATION_AGREEMENT_SMS`
    + Attributes (OTPRequest)


+ Response 480 (application/json; charset=utf-8)
    OTP has been sent
    + Attributes
        + OTPErrors


+ Request Signing contract (application/json; charset=utf-8)
    Request to resend OTP. The attribute `slug` must be set to `CONFIRMATION_AGREEMENT_SMS`
    + Attributes (OTPResendRequest)

+ Response 480 (application/json; charset=utf-8)
    OTP has been sent
    + Attributes
        + OTPErrors


+ Request Signing contract send OTP (application/json; charset=utf-8)
    The attribute `slug` must be set to `CONFIRMATION_AGREEMENT_SMS`
    + Attributes (OTPCodeRequest)

+ Response 200
    OTP code is valid
    + Attributes
        + AccountUpgradeApplicationResponse (required)

+ Response 422 (application/json)
    Invalid OTP code

    + Body

            {
                "errors": [
                    {
                        "message": "Kód není platný",
                        "severity": "ERROR",
                        "attribute": "otpCode",
                        "code": "INVALID"
                    }
                ]
            }

### State of account upgrade application request [GET]
Get information about current active revolving loan application.

+ Request (application/json; charset=utf-8)

+ Response 200
    + Attributes (AccountUpgradeApplicationResponse)
+ Response 404
    User not yet created account upgrade request.

    + Body
            {
                "errors": [{
                    "message": "Nenalezeno",
                    "severity": "ERROR",
                    "code": "OBJECT_NOT_FOUND"
                }]
            }

+ Response 403 (application/json; charset=utf-8)
    Returned in cases, where the premium account cannot be applied - ie. it has already your account blocked or has unpaid order after due date, for example.
    + Attributes (Errors)

## Revolving loan contract type changes [/my/contract/typeChange]
List of contract type changes

### Display all contract changes [GET]
Returns list of contract type changes of logged-in user.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[ContractTypeChangeResponse], fixed-type, required) - List of changes

### Change revolving loan contract type  [POST]    
Use this request to change current revolving contract type (upgrade/downgrade)

+ Request (application/json; charset=utf-8)
    Creating a new request for revolving contract type change by sending future type
    + Attributes (object)
        + to: `COMPLETE` (RevolvingLoanContractType, required) - new contract type (use previous contract type in case of reverting)
        + cardDeliveryAddress (Address, optional) - an address where to send a payment card

+ Response 200 (application/json; charset=utf-8)
    + Attributes (ContractTypeChangeResponse, required)

+ Request changes without specifying contract type (application/json; charset=utf-8)
    + Attributes (object)
    
+ Response 422 (application/json; charset=utf-8)
    Missing contract type.
    + Attributes (Errors)

## Last revolving loan contract type change [/my/contract/typeChange/last]
Data about last contract type change

### Get information about last contract type change [GET]
Return last contract type change

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (ContractTypeChangeResponse, required)

+ Response 404 (application/json; charset=utf-8)
    No changes found for the contract
    + Attributes (Errors)    

### Delete last contract type change [DELETE]
Delete last contract type change (revert last change)

+ Request (application/json; charset=utf-8)

+ Response 204 (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    No changes found for the contract
    + Attributes (Errors)

## Monthly billings [/my/contract/billing]
Monthly billings of logged-in user.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | yes
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
This resource supports sorting according `year` and `month`. Default sorting is according year and month in descending order.
Example: `billing?sort=-year,-month`

#### Filtering
This resource supports filtering.

filter name             | possible operators    | example
---                     | ---                   | ---
hasDebt                 | eq                    | `billing?filter=hasDebt|eq|true` filters billings, where has debt greater than zero (balance > 0)
hasDebt                 | eq                    | `billing?filter=hasDebt|eq|false` filters billings, where has debt less than or equal to zero (balance <= 0)
paymentAvailability     | eq                    | `billing?filter=paymentavailability|eq|AVAILABLE` billings, which are ready to be paid (eg. last month billing, whose balance is not equal to zero)
paymentAvailability     | eq                    | `billing?filter=paymentavailability|eq|NOT_AVAILABLE` billings, which cannot be paid (eg. open billing or billing with zero balance)

### Monthly billings for contract [GET]
Get list of monthly billings for revolving contract of logged-in user

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[BillingResponse], required) - List of monthly billings for contract of logged-in user
        + pagingInfo (PagingInfo, required)

+ Request monthly billings for non-existing contract (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

## Monthly billing detail [/my/contract/billing/{billingId}]
Detail of monthly billing for revolving contract of logged-in user

### Monthly billing detail for contract [GET]
Get detail of monthly billing

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (BillingResponse)

+ Request for non-existing billing (application/json; charset=utf-8)
    Billing not found
    + Attributes (Error)

## Billing deferment [/my/contract/billing/{billingId}/deferment]
Resource used to defer the billing

### Billing deferment [POST]
Apply for billing deferment

+ Request (application/json)
    Creating new deferment by sending amount to pay in current billing
    + Attributes (Amount)

+ Response 200
    New billing deferment successfully created
    + Attributes (BillingDefermentResponse)

+ Response 422 (application/json)
    Unable to defer the billing
    + Attributes (Errors)

## Billing deferment option [/my/contract/billing/{billingId}/deferment/option]
Billing deferment options

### Billing deferment option [GET]
Get possible deferment for specific amount user want to pay

+ Parameters
    + amount: `125000` (string, required) - Amount user want to pay in current billing

+ Request (application/json; charset=utf-8)
    + Parameters
        + amount: `125000`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (BillingDefermentResponse)

+ Request Providing amount value out of min/max boundary (application/json; charset=utf-8)
    amount parameter is outside allowed boundary
    + Parameters
        + amount: `9000`

+ Response 422 (application/json; charset=utf-8)
    Attribute amount must be between min and max values.
    + Attributes (Errors)
    
## Transactions [/my/contract/transaction]
Transactions for revolving contract of logged-in user.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Filtering
This resource supports following filtering.

filter name     | possible operators    | example
---             | ---                   | ---
billingId       | eq, in                | `transaction?filter=billingId|in|1,2` all transactions from billings with id 1 and 2
type            | eq, in                | `transaction?filter=type|in|CARD_TRANSACTION_DOMESTIC, CARD_TRANSACTION_ABROAD` transactions, whose type is from the list CARD_TRANSACTION_DOMESTIC, CARD_TRANSACTION_ABROAD
date            | lteq, gteq            | `transaction?filter=date|gteq|2020-05-18;date|lteq|2020-05-20` all transactions created or posted between 18th and 20th May 2020
amount          | lteq, gteq            | `transaction?filter=amount|gteq|150000;amount|lteq|200000` transactions, which have amount greater or equal to 1500,- CZK and less or equal to 2000,- CZK
amount          | abslteq, absgteq      | `transaction?filter=amount|absgteq|150000;amount|abslteq|200000` transactions, which have amount greater or equal to 1500,- CZK and less or equal to 2000,- CZK independently on amount sign (positive or negative), resp. transaction direction(incoming, outgoing)
referenceNumber | eq                    | `transaction?filter=referenceNumber|eq|123456789` transactions, which have reference number equal to 123456789


Fulltext search can be used in transaction endpoint. The system will search for `query_string` in the fields
`merchantName`, `merchantCity`, `description`, `amount`, `partnerName` and `item name`. The search is case insensitive
and does not reflect the accents.

fulltext search  | query string     | example
---              | ---              | ---
fulltext         | `Palladium`      | `transaction?filter=fulltext|icontains|Palladium` transactions, which contain string `Palladium` in fields mentioned above
fulltext         | `550`            | `transaction?filter=fulltext|icontains|550` transactions, which contain string `550` in fields mentioned above, or transactions, which amount is exactly 500,- CZK

### Transactions for revolving contract [GET]
Get list of transactions for revolving contract of logged-in user.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[RevolvingTransaction], fixed-type, required) - List of transactions for contract of logged-in user
        + pagingInfo (PagingInfo, required)

+ Request transactions for non-existing contract (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

## Exported transactions [/my/contract/transaction/export]
Exported transactions for revolving contract of logged-in user to a file.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | no
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Filtering
Filtering is the same as in `/my/contract/transaction` endpoint.

### Run transaction export to a file [POST]
Endpoint will generate transaction file in given `format`. The file in given format will be generated in the background. It may not be available for download immediately (when object still has a `state: PROCESSING`).

+ Request Generate xls transaction file (application/json; charset=utf-8)
    + Attributes (object)
        + format: `XLSX` (enum, required) - output file will have given extension
            + `XLSX` - spreadsheet with .xlsx extension(`application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`)


+ Response 201 (application/json; charset=utf-8)
    + Attributes (ExportedFile)

+ Request Generate transaction file in unrecognized format (application/json; charset=utf-8)
    + Attributes (object)
        + format: `unsupported-format`

+ Response 422 (application/json; charset=utf-8)
    File format not supported
    + Attributes (Errors)

## Exported transactions detail [/my/contract/transaction/export/{fileUUID}]

### Get exported transaction file [GET]
Get exported generated transaction file

+ Request Get transaction file (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (ExportedFile)

+ Request Get transaction file already expired or with wrong UUID (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    File not found.
    + Attributes (Errors)


## Transaction detail [/my/contract/transaction/{transactionId}]
Detail of transaction for revolving contract of logged-in user.

### Transaction detail for revolving contract [GET]
Get detail of transaction

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (RevolvingTransaction)

+ Request for non-existing transaction (application/json; charset=utf-8)
   Transaction not found
   + Attributes (Error)

## Transaction complaint [/my/contract/transaction/{transactionId}/complaint]

### Generate complaint for a transaction [POST]
Use this resource to generate new complaint for a transaction

+ Request (application/json; charset=utf-8)
    + Attributes (RevolvingTransactionComplaintRequest)

+ Response 200
    Complaint has been created
    + Attributes (RevolvingTransactionComplaint)

+ Response 422 (application/json; charset=utf-8)
    Invalid input data
    + Attributes (Errors)

+ Request Duplicated transaction ID (application/json; charset=utf-8)
    + Attributes (RevolvingTransactionComplaintRequest)

+ Response 422 (application/json; charset=utf-8)
    Complaint for this transaction has been already created    
    + Attributes (Errors)       

# Group My profile
Resources for accessing and modifying user personal data.

## Facebook connection [/account/facebook]

### Connect facebook account to a customer [POST]
Use this resource to connect facebook account to a customer.

+ Request (application/json)
    + Attributes (object)
        + facebookAccessToken: `EAADcxbT9khgBAHkik7JGjl9ZCDsiV1TyWpVg4hpV6pUokIxYNPfxksp8S0lxAQz22hqehZBxKDxbZARvsfO9foUxj7uq5gGP3j7aLDCu9ZA9VjSobUU4UdadQUMHtxE2wv1uXxnSnST1SPjDi848VWrXQPkBolceCK5IWUvetVRttwdPrua4N1kVtB6V5uIZD` (string, required) - Facebook user access token.

+ Response 204
    Facebook account was connected
    + Body

+ Response 422 (application/json)
    Facebook account was not connected. List of error codes special for this endpoint:
    - `ALREADY_CONNECTED_NOT_FINISHED` - The Facebook account is already connected to an existing MALL Pay account, but customer must finish registration.
    - `ALREADY_CONNECTED` - The Facebook account is already connected to an existing MALL Pay account. Immediate login is possible.
    - `CONNECTION_ERROR` - Unable to connect to Facebook or invalid Facebook access token.
    + Attributes (Errors)

### Disconnect facebook account from a customer [DELETE]
Use this resource to disconnect facebook account from a customer.

+ Response 204
    Facebook account was disconnected
    + Body

+ Response 422 (application/json)
    Facebook account was not connected. List of error codes special for this endpoint:
    - `NOT_CONNECTED` - The Facebook account isn't connected to an the account
    + Attributes (Errors)

## Customer information [/my/profile]
Customer profile information

### Get client information [GET]
Get information about logged-in user.
+ Request (application/json; charset=utf-8)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Client, required)

+ Response 400 (application/json; charset=utf-8)

        There was an error processing request

    + Attributes (Errors)

## Questionnaire [/my/profile/questionnaire/{hash}/]
Questionnaire for customer

### Get questionnaire data [GET]
Get questions (data) for questionnaire construction
+ Request (application/json; charset=utf-8)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + questions (array[Question], fixed-type, required)

+ Response 400 (application/json; charset=utf-8)

        There was an error processing request

    + Attributes (Errors)

## Mobile application rating [/my/profile/feedback/rating]

### Send mobile application rating [POST]
Customer sends application rating.

+ Request (application/json)
    + Attributes (MobileApplicationRating)

+ Response 204 (application/json; charset=utf-8)

## Notification settings [/my/profile/settings/notifications/]

### Get notification settings [GET]
Use this endpoint to inquiry customer's notification settings.

+ Response 200
    + Attributes (object)
        + cardAuthorization: `true` (boolean) - Flag indicating if customer will receive card authorization notifications.

### Set notification settings [PUT]
Use this endpoint to change customer's notification settings.

+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + cardAuthorization: `true` (boolean) - Flag indicating if customer will receive card authorization notifications.

+ Response 200
    Settings were sucessfully saved.
    + Attributes (object)
        + cardAuthorization: `true` (boolean)

# Group Notifications
Resource group for managing customer's notifications.

## List of notifications [/notifications]

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
Resource does not support manual sorting, default sorting is by `created_at` descending.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name        | possible operators | example
---                | ---                | ---
id                 |eq,in               | `notifications?filter=id|in|1,3` means notifications that have id 1 or 3
isRead             |eq                  | `notifications?filter=isRead|eq|false` means notifications that have not been read
isTriggered        |eq                  | `notifications?filter=isTriggered|eq|true` means notifications that have been triggered

### Get list of notifications [GET]
Use this endpoint to get list of notifications. This endpoint supports pagination.

+ Request (application/json)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Notification], fixed-type, required)
        + pagingInfo (PagingInfo, required)

### Mark notification as read/triggered [PATCH]
Use this endpoint to indicate, that user has seen the notification(s) and/or interacted with it/them (e.g. he clicked or tapped it).

Use filter (by ID) to limit set of affected notifications.

Use filter by `isTriggered|eq|false` to mark all notifications as read and triggered (acts as "read all" feature). 

+ Request  (application/json; charset=utf-8)
    + Attributes (object)
        + isRead: `true` (boolean) - Mark notification as read (i.e. user has seen the notification)
        + isTriggered: `true` (boolean) - Mark notification as triggered (i.e. user has interacted with the notification, e.g. he clicked or tapped it)
+ Response 204 (application/json; charset=utf-8)

## Number of unread notifications [/notifications/unread]

### Get number of unread notifications [GET]
Use this endpoint to get number of unread notifications.

+ Request (application/json)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + count (number) - Number of unread notifications

# Group Personal data
Resource group for managing customer's personal data

## Personal data request [/personalData/request/]

### Personal data request [POST]
Use this endpoint to request personal data operation

+ Request (application/json)
    + Attributes (object)
        + firstName (string) - First name
        + lastName (string) - Last Name
        + email (string, required) - email of person whom wants to process gdpr request
        + subject (string, required) - GDPR request type
        + message (string) - Additional user message for GDPR request

+ Response 200 (application/json)
    GDPR request successfully added, show message about email confirmation
    + Attributes
        + status: `ACCEPTED` (enum, required) - personal data request status
            + `ACCEPTED` - request is accepted
            + `UNCONFIRMED` - request needs to be confirmed via email

+ Response 400 (application/json)
    There was an error processing request
    + Attributes (Errors)

+ Response 422 (application/json)
    Invalid input data.
    + Attributes (Errors)


## Personal request confirm [/personalData/request/{token}/confirm]

Specific customer contract.


### Personal request confirm [POST]
Use this enpoint to confirm personal request operation

+ Attributes (object)
    + token (string, required): `s5as4d5a6s54d5sa6asd56` - GDPR token

+ Response 204
    GDPR request successfull, there is no space for error
    + Body

# Group Payment cards for contract

## Payment Cards for contract [/my/contract/card]
List of payment cards for the given customer contract.

__NOTE:__ The cards are ordered by datetime of their creation, newest first.

### Cards for contract [GET]
Get a list of payment cards associated with the given contract.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[PaymentCard], fixed-type, required)

## Detail and modification of payment card for contract [/my/contract/card/{cardId}]
Detail of given payment card

### Card for contract [GET]
Get detail of given payment card

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)

### Activate card [PATCH]
Activate the given card. When activating the card for the first time, OTP code is required. Can also be used to activate the card after it has been temporarily blocked.

+ Request (application/json; charset=utf-8)
Please note that `otpCode` is required when activating the card for the first time. It is not required when the card is activated from `BLOCKED_TEMPORARILY` state.
    + Attributes (OTPCodeRequest)
        + `state`: `ACTIVATED` (enum, required)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)
    + Attributes (OTPCodeRequest)
        + `state`: `ACTIVATED` (enum, required)

+ Response 422 (application/json; charset=utf-8)
    Returned when the `otpCode` authorization does not match.
    - `NOT_AUTHORIZED` - Last 4 digits of payment card does not match with otpCode.
    + Attributes (Errors)

+ Request (application/json; charset=utf-8)
    + Attributes (OTPCodeRequest)
        + `state`: `ACTIVATED` (enum, required)

+ Response 422 (application/json; charset=utf-8)
    Returned when card cannot be activated from current state (i.e. BLOCKED_PERMANENTLY).
    - `NOT_SUPPORTED` - Payment card cannot be activated from current state BLOCKED_PERMANENTLY.
    + Attributes (Errors)

+ Request (application/json; charset=utf-8)

+ Response 403 (application/json; charset=utf-8)
    Returned in cases, where the card cannot be activated - ie. it has already been activated and now it is permanently blocked, for example.
    + Attributes (Errors)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)


+ Request (application/json; charset=utf-8)
    + Attributes  (OTPCodeRequest)
        + `state`: `ACTIVATED` (enum, required)

+ Response 480 (application/json; charset=utf-8)
    + Attributes (OTPErrors)

### Changing card limits [PATCH]
Change (enable/disable) limits on the card

+ Request (application/json; charset=utf-8)
    + Attributes
        + `onlinePaymentEnabled`: true (boolean, optional, nullable) - Enable/disable online payment with the card. Null value does not change setting and keeps value previously set.
        + `atmWithdrawalEnabled`: true (boolean, optional, nullable) - Enable/disable cash withdrawal from ATMs. Null value does not change setting and keeps value previously set.

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)


## Card blocking [/my/contract/card/{cardId}/blocking]
Block a card. Two versions are available - permanent and temporary.

### Permanently block a card [POST]
Permanently blocks the card.

__NOTE__: This step cannot be undone.

+ Request (application/json; charset=utf-8)
    + Attributes (PaymentCardPermanentBlocking)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)

### Temporarily block a card [POST]
Allows to temporarily block a card, for example when you are not going to use it for a long time or you cannot find it but are not yet sure if it really is lost or stolen (ie when searching for it). Unblocking the card is done by the same method used for activation.

+ Request (application/json; charset=utf-8)
    + Attributes (PaymentCardTemporaryBlocking)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PaymentCard)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)

## Showing a card's PIN number [/my/contract/card/{cardId}/pinView]
Return an URL of an image with the card's PIN number.

### Show card PIN [POST]
Display pin of the card. Returns URL of the image with PIN. The URL is invalidated (ceases to exist) after first GET request.

+ Request (application/json; charset=utf-8)
request confirmation code - second level of authorization
    + Attributes (OTPCodeRequest)

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + `url`: `https://www.cardprovider_example.com/pin_image_url/image.svg` (string, required) - URL of the PIN image.


+ Request (application/json; charset=utf-8)
    Request with an empty body to send otpCode to a customer. Returns validity of the code sent. When the request is
    repeated and the token from previous request is still valid, the confirmation code is not sent to the customer,
    even though the endpoint responds as usual, with validity of the first confirmation code.
    + Attributes (OTPRequest)

+ Response 480 (application/json; charset=utf-8)
    + Attributes (OTPErrors)

+ Request (application/json; charset=utf-8)
    Request with a parameter `otpResend` forces the endpoint to send the customer new confirmation code, subject to
    rules regarding the frequenecy of calls to the endpoint and number of calls. If these rules are broken, then returns `HTTP 429 (Too Many Requests)`.
    Currently the rules allow the call to be made once in 25s, seven times. After that, it is necessary to wait for time based expiration
    of the first confirmation code sent (time of oldest code sent + 5 minutes).
    + Attributes (OTPResendRequest)

+ Response 480 (application/json; charset=utf-8)
    + Attributes (OTPErrors)

+ Request (application/json; charset=utf-8)
    If resend frequency rules are broken, HTTP 429 will be returned
    + Attributes (OTPResendRequest)

+ Response 429 (application/json; charset=utf-8)
    Returned if endpoint call frequency rules are broken.
    + Attributes (Errors)

+ Request (application/json; charset=utf-8)
    Request with an empty body to send otpCode to a customer. Returns validity of the code sent.
    + Attributes (OTPRequest)

+ Response 422 (application/json; charset=utf-8)
    Returned when card state does not allow PIN retrieval
    + Attributes (Errors)


+ Request (application/json; charset=utf-8)
    + Attributes (OTPCodeRequest)

+ Response 422 (application/json; charset=utf-8)
    Returned when the `otpCode` authorization does not match or card PIN cannot be retrieved due to card state.
    + Attributes (Errors)


+ Request (application/json; charset=utf-8)

+ Response 404 (application/json; charset=utf-8)
    The card with `cardId` was not found etc.
    + Attributes (Errors)


# Group My history data contracts
Set of resources to access and modify client's contracts.

## Applications [/historydata/my/applications]
Applications of given contract.

### Applications on contract [GET]
Get a list of applications on given contract.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
TBD.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
state            |eq,in               | `applications?filter=state|in|READY` applications that are ready to be financed
stateReason      |eq,in               | `applications?filter=stateReason|in|READY_TO_SHIP` applications that are READY_TO_SHIP
type             |eq,in               | `applications?filter=type|in|INSTALLMENT` applications financed by installment program

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[HistoryApplication], fixed-type, required)
        + pagingInfo (PagingInfo, required)


## Specific application [/historydata/my/applications/{applicationId}]
Specific application.

+ Parameters
    + applicationId: `a7718` (string, required) - ID of application

### Application detail [GET]
Get details of one application.

+ Request (application/json; charset= utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application

+ Response 200 (application/json; charset=utf-8)
    Existing application
    + Attributes (HistoryApplication)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)


# Group My Payments

## Payments [/my/payments]
Payments operations.

### Request new payment [POST]
Prepare payment order data for specified repayments. TODO: add payment method.

+ Request TRANSFER/SAZKA (application/json; charset=utf-8)
    + Attributes (PaymentRequest)

+ Response 200(application/json; charset=utf-8)

        Payment order method TRANSFER/SAZKA was prepared and can be paid.

    + Attributes (DomesticPaymentOrder)

+ Request CARD/PLATBA24/MOJE_PLATBA/EKONTO (application/json; charset=utf-8)
    + Attributes (PaymentRequest)

+ Response 200(application/json; charset=utf-8)

        Payment order method CARD/PLATBA24/MOJE_PLATBA/EKONTO was prepared and can be paid.

    + Attributes (OnlinePaymentOrder)


+ Response 400(application/json; charset=utf-8)

        There was an error processing request

    + Attributes (Errors)


## Payment options [/my/payments/options{?amount}]
Get all possible repayment options

+ Parameters
  + amount: 11000 (number, optional) - Amount to pay specified by client, in minor units and default currency (e.g. 11000 means 110 CZK). If set, repayment options will be modified accordingly. NOT SUPPORTED YET.

### Repayment options [GET]
Get prioritized list of possible installments that are available for repayment. If no amount is specified, upper bound of repayment is calculated according to business rules (e.g. including all possible installments).

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[PaymentItem], fixed-type, required)

+ Response 400 (application/json; charset=utf-8)

        There was an error processing request

    + Attributes (Errors)


# Group My Settings

## My settings [/my/settings]
Information about settings

### List of settings [GET]

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PromoBanner)

# Group My Documents

## Documents for client [/my/documents]
All clients documents for his active revolving loan contract.

### List of documents [GET]
Get a list of documents.

feature                       | supported by resource
---                           | ---
[paging](#header-paging)      | no
[sorting](#header-sorting)    | no
[filtering](#header-filtering)| yes

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
type             |in,eq               | `documents?filter=type|eq|CONTRACT` only documents of type "Úvěrová smlouva"


+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[RevolvingLoanDocument], fixed-type, required)

# Group MALL Coin

## Client's MALL Coin overview [/coins/overview]
Overview of client's coin account.

### MALL Coin account overview [GET]
Get coin account overview

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + coinBalance: 12500 (CoinAmount, required) - Amount in minor units (12500 represents 125 coins/units)
        + earliestExpiration (EarliestCoinsExpiration, required)


## Client's MALL Coin transactions [/coins/transactions]
Overview of client's MALL Coin transactions.

### MALL Coin transactions list [GET]
Get customer coin transactions list

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
TBD.
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
Resource does not support manual sorting, default sorting is by `created_at descending`.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name        | possible operators | example
---                | ---                | ---
id                 |eq,in               | `transactions?filter=id|in|1,3` transactions that have id 1 or 3
value.amount       |eq,gt,lt            | `transactions?filter=value.amount|gt|0` transactions that have amount higher than 0
transactionReason  |eq                  | `transactions?filter=transactionReason|eq|PAID_ORDER` transactions that were created as a result of order paid
direction          |eq                  | `transactions?filter=direction|eq|CREDIT` transactions by type, credit or debit
isExpired          |eq                  | `transactions?filter=isExpired|eq|0` transactions that are not expired
createdAt          |eq,gt,lt            | `transactions?filter=createdAt|lt|2019-04-10T19:42` transactions by datetime of creation

__Note:__ Filtering by datetime values does not require time to be set, but values of datetime that will not be filled in will be considered to have value of 0. Suppose we have 1 transaction that was created on May 5th, 1976, 04:35 o'clock. Filtering using `createdAt|eq|1976-05-05` term will yield no result, since the transaction was created after `1976-05-05T00:00`. Filtering using `createdAt|gt|1976-05-05` will return the transaction, as will filtering for `createdAt|lt|1976-05-05T04:36`.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[CoinTransaction], fixed-type, required)
        + pagingInfo (PagingInfo, required)

# Group Rewards

## Partner promocode offers [/rewards/partnerPromocodes/offers]
Partner promocode offers available to customers

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | yes
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after`
 parameter.

#### Sorting
Resource supports sorting according `coinsRequired`. Default sorting is by `priority descending, createdAt descending`.
Example: `offers?sort=-coinsRequired`

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name        | possible operators | example
---                | ---                | ---
id                 |eq,in               | `offers?filter=id|in|1,3` promocode offers that have id 1 or 3
categoryId         |eq,in               | `offers?filter=categoryId|in|5,9` promocode offers, whose category has id 5 or 9
partnerId          |eq,in               | `offers?filter=partnerId|in|1,2,5` promocode offers, which are active and whose partner has id 1 or 2 or 5
isPopular          |eq                  | `offers?filter=isPopular|eq|true` active promocode offers, which are currently best-selling
isNew              |eq                  | `offers?filter=isNew|eq|true` active promocode offers, which are new

### Partner promocode offers [GET]
Get list of promocode offers

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[BasicPartnerPromocodeOffer], fixed-type, required) - array of available promocode offers
        + pagingInfo (PagingInfo, required)

## Detail of Partner promocode offer [/rewards/partnerPromocodes/offers/{promocodeOfferId}]
Detail of promocode offer

### Partner promocode offer detail [GET]

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (BasicPartnerPromocodeOffer)

+ Response 404 (application/json; charset=utf-8)
    Non-existing  promocode offer
    + Attributes (Errors)


## Partner promocode purchases [/rewards/partnerPromocodes/purchases/]
Resource to purchase promocode offer or to list already purchased promocodes.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | yes
[filtering](#header-filtering)  | no

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
This resource supports sorting according `purchasedAt`. Default sorting is according `id` in descending order.
Example: `rewards/partnerPromocodes/purchases?sort=-purchasedAt`

### Customer partner promocode purchase [POST]
Purchase partner promocode offer

+ Request (application/json; charset=utf-8)
    + Attributes (object)
        + `promocodeId`: `10` (string, fixed-type, required) - pk of the offer the customer wishes to buy

+ Response 201 (application/json; charset=utf-8)
    + Attributes (PurchasedPartnerPromocodeOffer, required)

+ Response 422 (application/json; charset=utf-8)
Purchasing the key was not succesful
    + Attributes (Errors)

### Customer purchased partner promocodes list [GET]
List of purchases partner promocodes

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[PurchasedPartnerPromocodeOffer], fixed-type, required) - array of promocodes and keys purchased by the customer

## Detail of customer purchased partner promocode [/rewards/partnerPromocodes/purchases/{purchasedPartnerPromocodeOfferId}]
Detail of purchased partner promocode

###  Customer purchased partner promocode detail [GET]

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (PurchasedPartnerPromocodeOffer)

## Partner promocode categories  [/rewards/partnerPromocodes/categories]
Partner promocode offer categories

### Partner promocode categories [GET]

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | no

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
Resource does not support manual sorting, default sorting is by `name ascending`.

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[PartnerPromocodeCategory], fixed-type, required) - array of available promocode offers
        + pagingInfo (PagingInfo, required)


# Group General
General resources

## Partner [/partners]
Resource for getting partner data. No authorization is required.

### Partner [GET]

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name                 | possible operators | example
---                         | ---                | ---
categoryId                  | eq,in              | `partners?filter=categoryId|in|5,9` partners, whose category has id 5 or 9
isOfferingDeferredPayment   | eq                 | `partners?filter=isOfferingDefferedPayment|eq|true` partner data for partner, which offers deferred payment
isOfferingServices          | eq                 | `partners?filter=isOfferingServices|eq|true` partner data for partner, which offers services
promocodeOfferState         | eq                 | `partners?filter=promocodeOfferState|eq|IN_OFFER` partner data for partner, which has at the moment active partner promocode offer

Fulltext search can be used in this resource. The system will search for `query_string` in the field `name`.
The search is case insensitive and does not reflect the accents.

fulltext search  | query string     | example
---              | ---              | ---
fulltext         | `mall`           | `partners?filter=fulltext|icontains|mall` partners, which contain string `mall` in the name

+ Request (application/json; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Partner], fixed-type, required) - array of available promocode offers
        + pagingInfo (PagingInfo, required)

## Partner categories  [/partners/categories]
Partner categories

### Partner categories [GET]
feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | no
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | no

#### Paging
This resource does not support paging.

#### Sorting
Resource does not support manual sorting, default sorting is by `name ascending`.

+ Request (application/json; charset=utf-8)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[PartnerCategory], fixed-type, required) - array of available categories

# Group Exchange Rates

## Exchange Rates [/exchangeRates/{date}]
Exchange Rates from CSOB, the {date} attribute is passed through to https://www.csob.cz/portal/lide/kurzovni-listek/-/date/{date}/kurzovni-listek.xml and the resulting xml is returned.


### Exchange Rates for a date [GET]

+ Request (application/json; charset=utf-8)

+ Response 200 (application/xml)
    Exchange Rates XML. See https://www.csob.cz/portal/lide/kurzovni-listek/-/date/2020-01-01/kurzovni-listek.xml for shape of response

+ Response 404 (application/json; charset=utf-8)
    Resource not found.
    + Attributes (Errors)

# Group My contracts - obsolete
Set of resources to access and modify client's contracts.

## Customer contracts [/my/contracts]
Customer contracts.

### List of contracts [GET]
Get a list of customer contracts.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | no
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | no


+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Contract], fixed-type, required)

## Customer contract detail [/my/contracts/{contractNumber}]
Specific customer contract.

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract

### Contract detail [GET]
Get details about one customer contract.

+ Request Get contract details (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718`

+ Response 200 (application/json; charset=utf-8)
   + Attributes (Contract)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract`

+ Response 404 (application/json; charset=utf-8)
    + Attributes (Errors)

## Applications [/my/contracts/{contractNumber}/applications]
Applications of given contract.

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract

### Applications on contract [GET]
Get a list of applications on given contract.

feature                         | supported by resource
---                             | ---
[paging](#header-paging)        | yes
[sorting](#header-sorting)      | no
[filtering](#header-filtering)  | yes

#### Paging
This resource supports [paging](#header-paging). The attribute `id` will be used as the value for `before` or `after` parameter.

#### Sorting
TBD.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name     | possible operators | example
---             | ---                | ---
originBillingId |eq                  | `applications?filter=originBillingId|eq|378` applications that was approved at specific billing
originBillingId |isnull              | `applications?filter=originBillingId|isnull|true` applications that was not approved on revolving
isClosed        |eq                  | `applications?filter=isClosed|eq|true` applications that is closed and cannot be shown on the main page


+ Request Existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `54307275`

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + data (array[Application], fixed-type, required)
        + pagingInfo (PagingInfo, required)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract`  (string)

+ Response 404 (application/json; charset=utf-8)
    Non-existing contract
    + Attributes (Errors)

## Specific application [/my/contracts/{contractNumber}/applications/{applicationId}]
Specific application.

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract
    + applicationId: `a7718` (string, required) - ID of application

### Application detail [GET]
Get details of one application.

+ Request  (application/json; charset= utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 200 (application/json; charset=utf-8)
    Existing application
    + Attributes (Application)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `6605812455` (string, required) - ID of contract
        + applicationId: `this_is_no_application` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

### Cancel application [DELETE]
Cancel application processing.

+ Request  (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 204 (application/json; charset=utf-8)
    Application processing was cancelled.
    + Body

+ Request Invalid application state (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 422 (application/json; charset=utf-8)
    Application cannot be cancelled.
    + Attributes (Errors)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Contract or application not found.
    + Attributes (Errors)

+ Request non existent application (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `a7718` (string, required) - ID of application

+ Response 404 (application/json; charset=utf-8)
    Application cannot be cancelled.
    + Attributes (Errors)

## Promo codes [/my/contracts/{contractNumber}/applications/{applicationId}/applyPromocode]
Customer can apply for discount price by submitting promo code.

+ Parameters
    + applicationId: `a7718` (string, required) - ID of application

### Submit promo code [POST]

+ Request  (application/json; charset= utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + key: `MALL1SAW3S0M3` (string, required) - promo code key

+ Response 200 (application/json; charset=utf-8)
    Existing application and valid applicable promo code
    + Attributes (Application)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application
    + Attributes (object)
        + key: `MALL1SAW3S0M3` (string, required) - promo code key

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

+ Request Invalid promo code (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + key: `this_is_invalid_key` (string, required) - promo code key

+ Response 422 (application/json; charset=utf-8)
    Promo code is invalid or expired.
    + Attributes (Errors)

## Getting list of application item services [/my/contracts/{contractNumber}/application/item]
Services on given application items

feature                       | supported by resource
---                           | ---
[paging](#header-paging)      | yes
[sorting](#header-sorting)    | no
[filtering](#header-filtering)| yes

#### Paging
This resource supports [paging](#header-paging). As a value to `before` and `after` parameters, use `Id` attribute.

#### Filtering
This resource supports [filtering](#header-filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
data             |in,eq               | `item?filter=data|eq|list_of_item_ids` only items in "list_of_item_ids"
service_active   |in,eq               | `item?filter=service_active|eq|true` only items with active services

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract

### List of application items with services [GET]
Services on given application items

+ Request (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract

+ Response 200 (application/json, charset=utf-8)
    + Attributes (object)
        + `data` (array[Item], required) - List of application order items

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

## Purchase services for application item [/my/contracts/{contractNumber}/application/item/service/{serviceId}/purchase]
Purchasing Services on given application items

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract
    + serviceId: `service-adp` (string, required) - ID of the service

### Purchase services for application items [POST]
Allows ordering of the service based on previous offer

+ Request (application/json; charset=utf-8)
    Correct request.
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + serviceId: `service-adp` (string, required) - ID of the service

+ Response 204 (application/json; charset=utf-8)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract` (string, required) - ID of contract
        + serviceId: `service-adp` (string, required) - ID of the service

+ Response 404 (application/json; charset=utf-8)
    Contract not found.
    + Attributes (Errors)

+ Request Non-existing service (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + serviceId: `this_service_does_not_exist`

+ Response 404 (application/json; charset=utf-8)
    Service not found.
    + Attributes (Errors)

## Purchasing rewards for application [/my/contracts/{contractNumber}/application/{applicationId}/rewards]
Purchasing Rewards on given application items

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract
    + applicationId: `application_id` (string, required) - ID of application

### Purchasing rewards for application order items [POST]
Allows purchasing/ordering of the reward based on info in an application

+ Request (application/json; charset=utf-8)
    Correct request.
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `application_id` (string, required) - ID of service
    + Attributes
        + type: `FREE_DELIVERY` (enum, required) - type of reward to purchase
            + FREE_DELIVERY
            + SERVICE_DISCOUNT
        + itemId (string, required) - (TODO: business logic is currently not using this ID (will be required for type FREE_DELIVERY in future).)
        + serviceId (string, optional, nullable) - Id of service to purchase reward for

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Application)

+ Request Non-existing application (application/json; charset=utf-8)
    + Parameters
        + applicationId: `this_is_no_application` (string, required) - ID of application
    + Attributes (object)
        + type: `FREE_DELIVERY` (enum, required) - reward type
        + itemId (string, required)

+ Response 404 (application/json; charset=utf-8)
    Application not found.
    + Attributes (Errors)

+ Request Invalid reward type (application/json; charset=utf-8)
    + Parameters
        + applicationId: `a7718` (string, required) - ID of application
    + Attributes (object)
        + type: `this_is_invalid_reward_type` (enum, required) - invalid enum value
        + itemId: `item-id` (string, required)

+ Response 422 (application/json; charset=utf-8)
    Reward not found.
    + Attributes (Errors)

+ Request Cannot apply rewards (application/json; charset=utf-8)
    Request is correct but the reward has already been applied or customer does not have enough coins, etc.
    + Parameters
        + contractNumber: `01-3700227718` (string, required) - ID of contract
        + applicationId: `service-adp` (string, required) - ID of service
    + Attributes
        + type: `FREE_DELIVERY` (enum, required) - type of reward to purchase
        + itemId: `itemId` (string, required)

+ Response 422 (application/json; charset=utf-8)
    + Attributes (Errors)


## Installments [/my/contracts/{contractNumber}/installments{?selection}]
Installments of given contract (installment schedule for CEL contract)

+ Parameters
    + contractNumber: `01-3700227718` (string, required) - ID of contract
    + selection: `current` (enum, optional) - request one specific installment
        + `first` - first installment
        + `previous` - installment preceding current installment (ie. installment with due date in previous month)
        + `current` - current installment (ie. installment with due date in current month)

## Support request [/my/contract/supportRequest]
Request support by phone.

### Support request [POST]
Request Account Upgrade request support by phone.

+ Request (application/json; charset=utf-8)
    + Attributes (SupportRequest)

+ Response 201 (application/json; charset=utf-8)


+ Request (application/json; charset=utf-8)
    Request when customer is not logged in
    + Attributes (SupportRequest)

+ Response 401 (application/json; charset=utf-8)

# Data Structures

## Error (object)
+ code: `ERR_1000_SOME_ERROR_CODE` (string, required) - unique internal error code
+ message: `Some error/validation message description` (string, required) - human readable error description (non-localized)
+ severity (enum, required)
    + ERROR - critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code
    + WARN - non-critical error, execution can continue but further user interaction is advisable. This MIGHT be indicated also by appropriate HTTP status code
    + INFO - information only, execution can continue without user interaction
+ attribute: `personalBirthNumber` (string, optional) - json path of request attribute that caused the error (if applicable)
+ ticketId: `UAT1:AMS:20160516-091658.450:45e4` (string, optional) - internal ticket ID, used for error backtracking

## Errors (object)
+ errors (array[Error], fixed-type, required)

## OTPErrors (Errors)
+ otpValidTo: `2017-01-18T10:34:44+01:00` (string, required) - datetime of token validity
+ phone: `+420 737 *** *56` (string, required) - Customer's phone where OTP code was sent. The number is obfuscated if customer's request is not authorized.

## OTPRequest (object)
Request to send customer OTP via SMS.

### Properties

## OTPCodeRequest (object)
Request to send OTP code - customer confirming the action required

### Properties
+ `otpCode`: `abc234` (string) - confirmation code the customer received (usually) by SMS

## OTPResendRequest (object)
Request to re-send customer OTP via SMS

### Properties
+ `otpResend`: `true` (boolean) - forces the resend of the OTP SMS to customer

## PagingInfo (object)
+ itemsPerPage: 10 (number, required) - number of items per page
+ nextPage: `transactions?sort=category&limit=10&after=25` (string, optional) - request to retrieve next page, if it exists and can be unambiguously specified
+ prevPage: `transactions?sort=category&limit=10&before=25` (string, optional) - request to retrieve previous page, if it exists and can be unambiguously specified


## Amount (object)
[...]
